  <md-card>
    <md-card-title>
            <span flex></span>
            <div layout="row" layout-align="center center" ng-show="!vm.isloading">
              <div>Antal: <span class="md-body-2">{{vm.totalCases}}</span></div>
            </div>
    </md-card-title>
    <md-card-content>
    <md-progress-linear md-mode="indeterminate" ng-show="vm.isLoading"></md-progress-linear>
    <md-table-container ng-show="!vm.isLoading">
            <table md-table>
                <thead 
                    md-head 
                    md-order="vm.query.order">
                    <tr md-row>
                        <th md-column md-numeric md-order-by="caseNumber">{{'DECLARATION.DECLARATION_NUMBER' | translate}}</th>
                        <th md-column md-order-by="bua">Type</th>
                        <th md-column md-order-by="fullName">{{'COMMON.NAME' | translate}}</th>
                        <th md-column md-numeric md-order-by="cprNumber">CPR</th>
                        <th md-column md-numeric md-order-by="creationDate">Oprettet</th>
                        <th md-column md-numeric md-order-by="creationDate">Ventetid (dage)</th>
                    </tr>
                </thead>
                <tbody md-body ng-repeat="case in vm.waitingListCases | orderBy: vm.query.order">
                    <tr md-row class="clickable" ng-click="vm.gotoCase(case.caseNumber)">
                        <td md-cell>{{case.caseNumber}}</td>
                        <td md-cell>{{case.bua === "true" ? 'BUA' : 'PS'}}</td>
                        <td md-cell>{{case.fullName}}</td>
                        <td md-cell>{{case.cprNumber}}</td>
                        <td md-cell>{{case.creationDateFormatted}}</td>
                        <td md-cell>{{case.waitingTime}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>
</md-card>  