<md-menu>
    <md-button class="md-icon-button" ng-click="$mdMenu.open()">
        <md-icon md-menu-origin>more_vert</md-icon>
    </md-button>

    <md-menu-content width="4">
        <md-menu-item ng-if="action.download">
            <md-button ng-click="download(content.nodeRef, content.fileName)">
                <md-icon md-menu-align-target>get_app</md-icon>
                {{'COMMON.DOWNLOAD' | translate }}
            </md-button>
        </md-menu-item>

        <!-- <md-menu-item ng-if="action.edit">
            <md-button ng-click="goToLOEditPage(content.nodeRef)">
                <md-icon md-menu-align-target>edit</md-icon>
                {{'COMMON.EDIT' | translate }}
            </md-button>
        </md-menu-item> -->

        <md-menu-item ng-if="action.delete">
            <md-button ng-click="deleteDialog()">
                <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                {{'COMMON.REMOVE' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="action.move">
            <md-button ng-click="moveDialog()">
                <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                {{'COMMON.MOVE' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="action.rename">
            <md-button ng-click="renameDialog()">
                <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                {{'COMMON.RENAME' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="action.mail">
            <md-button ng-click="addToMail()">
                <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                {{'COMMON.MAIL' | translate }}
            </md-button>
        </md-menu-item>

    </md-menu-content>
</md-menu>
