


<style>

a.anchor{display: block; position: relative; top: -250px; visibility: hidden;}

.md-title {
    font-size: 14px;
     font-weight: bold;
}

.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;

}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {

}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}



</style>



<md-card>



    <md-content class="md-padding" layout-wrap >

        <md-content class="md-padding" layout="row" >
            <!--<div flex="33" >-->
                <!--<md-card>-->
                    <!--<md-card-title ng-click="vm.alle=true;vm.loaddata('alle', '@rm:creationDate', 'true')">-->
                        <!--<h1 class="md-title od-title-icon"> {{'COMMON.ALLE' | translate }}</h1>-->
                    <!--</md-card-title>-->
                <!--</md-card>-->
            <!--</div>-->

            <div flex="33" >
                <md-card>
                    <md-card-title ng-click="vm.minesager=false;vm.loaddata('arrestanter', '@rm:creationDate', 'true')">
                        <h1 class="md-title od-title-icon"> {{'COMMON.ARRESTANTER' | translate }} {{ vm.total.arrestanter }}</h1>
                    </md-card-title>
                </md-card>
            </div>

            <div flex="33" >
                <md-card>
                    <md-card-title id="ongoing_title" ng-click="vm.minesager=false;vm.loaddata('ongoing', '@rm:creationDate', 'true')">
                        <h1 class="md-title od-title-icon">{{'COMMON.IGANGVÆRENDE' | translate }} {{ vm.total.ongoing }}</h1>
                    </md-card-title>
                </md-card>
            </div>

            <div flex="33" >
                <md-card>
                    <md-card-title ng-click="vm.minesager=false;vm.loaddata('waitinglist', '@rm:creationDate', 'true')">
                        <h1 class="md-title od-title-icon"> {{'COMMON.VENTELISTE' | translate }} {{ vm.total.waitinglist }}</h1>
                    </md-card-title>
                </md-card>
            </div>

            <div flex="33" >
                <md-card>
                    <md-card-title ng-click="vm.minesager=false;vm.loaddata('observation', '@rm:creationDate', 'true')">
                        <h1 class="md-title od-title-icon"> {{'COMMON.INDLAGTE' | translate }} {{ vm.total.observation }}</h1>
                    </md-card-title>
                </md-card>
            </div>

            <div flex="33" >
                <md-card>
                    <md-card-title ng-click="vm.minesager=false;vm.loaddata('ventendegr', '@rm:creationDate', 'true')">
                        <h1 class="md-title od-title-icon"> {{'COMMON.VENTEDEGR' | translate }} {{ vm.total.ventendegr }} </h1>
                    </md-card-title>
                </md-card>
            </div>

            <div flex="33" ng-show="vm.showUser" >
                <md-card>
                    <md-card-title ng-click="vm.minesager=true;vm.loaddata('user', '@rm:creationDate', 'true')">
                        <h1 class="md-title od-title-icon"> {{'COMMON.MINESAGER' | translate }} {{ vm.total.user }}</h1>
                    </md-card-title>
                </md-card>
            </div>



        </md-content>


        <!-- headlines -->
        <md-card >
            <md-content>


                <md-table-container >


                    <table class="fixed_header" md-table >



                    <thead md-head >
                    <tr md-row>
                        <th md-column ng-click="vm.loaddata(vm.showing, '@rm:creationDate', vm.clickcreationDate);vm.clickcreationDate=!vm.clickcreationDate" >{{'FLOWCHART.CREATED' | translate}} <md-icon ng-show="vm.clickcreationDate">keyboard_arrow_up</md-icon><md-icon ng-show="!vm.clickcreationDate">keyboard_arrow_down</md-icon></th>
                        <th md-column ng-click="vm.loaddata(vm.showing, '@rm:cprNumber', vm.clickcpr);vm.clickcpr=!vm.clickcpr" >{{'FLOWCHART.CPR' | translate}}<md-icon ng-show="vm.clickcpr">keyboard_arrow_up</md-icon><md-icon ng-show="!vm.clickcpr">keyboard_arrow_down</md-icon></th>
                        <th md-column ng-click="vm.loaddata(vm.showing, '@rm:firstName', vm.clickfornavn);vm.clickfornavn=!vm.clickfornavn">{{'FLOWCHART.FORNAVN' | translate}}<md-icon ng-show="vm.clickfornavn">keyboard_arrow_up</md-icon><md-icon ng-show="!vm.clickfornavn">keyboard_arrow_down</md-icon></th>
                        <th md-column ng-click="vm.loaddata(vm.showing, '@rm:lastName', vm.clickefternavn);vm.clickefternavn=!vm.clickefternavn">{{'FLOWCHART.EFTERNAVN' | translate}}<md-icon ng-show="vm.clickefternavn">keyboard_arrow_up</md-icon><md-icon ng-show="!vm.clickefternavn">keyboard_arrow_down</md-icon></th>
                        <th md-column ng-click="vm.loaddata(vm.showing, '@rm:mainCharge', vm.clickmainCharge);vm.clickmainCharge=!vm.clickmainCharge" >{{'FLOWCHART.HOVEDSIGTELSE' | translate}}<md-icon ng-show="vm.clickmainCharge">keyboard_arrow_up</md-icon><md-icon ng-show="!vm.clickmainCharge">keyboard_arrow_down</md-icon></th>
                    </tr>
                    </thead>

                    </table>
                    </md-table-container>

            </md-content>
        </md-card>





        <div flex ng-if="vm.minesager">
            <ng-include src="'app/src/flowchart/flowchart_minesager.html'"></ng-include>
        </div>


        <!-- contents -->
        <div  ng-if="!vm.minesager" ng-repeat="i in vm.ongoing" >



        <md-card class="dropdown-card" id="{{ i.node_uuid }}" ng-hide="!(vm.editperid == i.node_uuid) && vm.startedit">

            <a class="anchor" id="top_{{ i.node_uuid }}"></a>



        <md-card-title  >


            <md-table-container >

                <table class="fixed_header" md-table >

                    <thead md-head >

                    <!--<md-icon class="rotate-arrow">keyboard_arrow_down</md-icon>-->

                    <tr md-row>
                        <th md-column > {{i.creationDate | customFlowChartDate }} </th>
                        <th md-column > {{i.cprNumber}}</th>
                        <th md-column >{{i.firstName}}</th>
                        <th md-column >{{i.lastName}}  </th>
                        <th md-column >{{i.mainCharge}} </th>
                    </tr>

                    </thead>

                </table>
            </md-table-container>
        </md-card-title>


         <md-content class="md-padding" layout-wrap ng-if="collapsed" >
         <!--<md-content class="md-padding" layout-wrap ng-if="false" >-->

             <md-table-container>

                 <table md-table>

                     <tbody md-body >

<!--display status + samtykke -->

                     <tr md-row class="clickable" ng-hide="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">
                             <td md-cell>Status</td>
                             <td md-cell id="statusDisplay_{{ i.node_uuid }}">{{i.status}}</td>

                             <td md-cell>Samtykke til oplysninger </td>
                             <td md-cell id="samtykkeDisplay_{{ i.node_uuid }}">{{i.samtykkeopl}}</td>
                     </tr>

<!--edit-->



                    <tr md-row class="clickable" ng-show="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">

                        <td md-cell>Status</td>

                        <div>
                            <td md-autocomplete
                                md-selected-item="flow.status"
                                md-search-text="statusSearch"
                                md-items="status in vm.propertyFilter(vm.propertyValues['status'],statusSearch)"
                                md-item-text="status"
                                md-clear-button="true"
                                md-require-match="true">
                                <md-item-template>
                                    <span md-highlight-text="statusSearch" md-highlight-flags="gi">{{status}}</span>
                                </md-item-template>
                                </md-autocomplete>
                        </div>



                        <td md-cell>Samtykke til oplysninger</td>
                        <td md-input-container class="md-block">

                            <input ng-model="flow.samtykkeopl" >
                        </td >



                    </tr>


<!--display arrest + tolk -->

                    <tr md-row class="clickable" ng-hide="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">
                        <td md-cell>Arrest</td>
                        <td md-cell id="arrestDisplay_{{ i.node_uuid }}">{{i.arrest}}</td>

                        <td md-cell>Tolk sprog</td>
                        <td md-cell id="tolksprogDisplay_{{ i.node_uuid }}">{{i.tolksprog}}</td>
                    </tr>
<!--edit-->






                    <tr md-row class="clickable" ng-show="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">
                        <td md-cell>Arrest</td>
                        <td md-input-container class="md-block">

                            <input ng-model="flow.arrest" >
                        </td >

                        <td md-cell>Tolk sprog</td>
                        <td md-input-container class="md-block">

                            <input ng-model="flow.tolksprog" >
                        </td >
                    </tr>


<!--display socialrådgiver + fritid -->

                    <tr md-row class="clickable" ng-hide="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">
                        <td md-cell>Socialrådgiver</td>
                        <td md-cell id="socialworkerDisplay_{{ i.node_uuid }}">{{i.socialworker}}</td>

                        <td md-cell>Fritid ved (navne)</td>
                        <td md-cell id="fritidvedDisplay_{{ i.node_uuid }}">{{i.fritidved}}</td>
                    </tr>

<!--edit -->

                    <tr md-row class="clickable" ng-show="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">

                        <td md-cell>Socialrådgiver</td>

                        <div>
                            <td md-autocomplete
                                md-selected-item="flow.socialworker"
                                md-search-text="socialworkerSearch"
                                md-items="socialworker in vm.propertyFilter(vm.propertyValues['socialworker'],socialworkerSearch)"
                                md-item-text="socialworker"
                                md-clear-button="true"
                                md-require-match="true">
                                <md-item-template>
                                    <span md-highlight-text="socialworkerSearch" md-highlight-flags="gi">{{socialworker}}</span>
                                </md-item-template>
                                </md-autocomplete>
                        </div>

                        </td>

                        <td md-cell>Fritid ved (navne)</td>

                        <td md-input-container class="md-block">

                            <input ng-model="flow.fritidved" >
                        </td >

                        </td>


                    </tr>


<!--display læge + kommentar -->

                     <tr md-row class="clickable" ng-hide="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">

                         <td md-cell>Læge</td>
                         <td md-cell id="doctorDisplay_{{ i.node_uuid }}">{{ i.doctor}}</td>

                         <td md-cell>Kommentar</td>
                         <td md-cell id="kommentarDisplay_{{ i.node_uuid }}">{{i.kommentar }}</td>
                     </tr>


<!--edit -->

                     <tr md-row class="clickable" ng-show="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">

                         <td md-cell>Læge</td>

                         <div>
                         <td md-autocomplete
                                      md-selected-item="flow.doctor"
                                      md-search-text="doctorSearch"
                                      md-items="doctor in vm.propertyFilter(vm.propertyValues['doctor'],doctorSearch)"
                                      md-item-text="doctor"
                                      md-clear-button="true"
                                          md-require-match="true">
                             <md-item-template>
                                 <span md-highlight-text="doctorSearch" md-highlight-flags="gi">{{doctor}}</span>
                             </md-item-template>
                         </md-autocomplete>
                         </div>

                         </td>


                         <td md-cell>Kommentar</td>

                         <td md-input-container class="md-block">

                             <input ng-model="flow.kommentar" >
                         </td >

                         </td>


                     </tr>

<!--display psykolog + kvalitetskontrol -->

                     <tr md-row class="clickable" ng-hide="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">

                         <td md-cell>Psykolog</td>
                         <td id="psychologistDisplay_{{ i.node_uuid }}" md-cell>{{ i.psychologist}}</td>

                         <td md-cell>Kvalitetskontrol</td>
                         <td md-cell id="kvalitetskontrolDisplay_{{ i.node_uuid }}">{{i.kvalitetskontrol}}</td>
                     </tr>


<!--edit -->

                    <tr md-row class="clickable" ng-show="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">

                        <td md-cell>Psykolog</td>

                        <div >
                            <td md-autocomplete
                                md-selected-item="flow.psychologist"
                                md-search-text="psychologistSearch"
                                md-items="psychologist in vm.propertyFilter(vm.propertyValues['psychologist'],psychologistSearch)"
                                md-item-text="psychologist"
                                md-clear-button="true"
                                md-require-match="true">
                                <md-item-template>
                                    <span md-highlight-text="psychologistSearch" md-highlight-flags="gi">{{psychologist}}</span>
                                </md-item-template>
                                </md-autocomplete>
                        </div>

                        </td>


                        <td md-cell>Kvalitetskontrol</td>

                        <td md-input-container class="md-block">

                            <input ng-model="flow.kvalitetskontrol" >
                        </td >

                        </td>


                    </tr>


<!--display psykolog fokus  + kommentar -->

                     <tr md-row class="clickable" ng-hide="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">
                         <td md-cell>Psykolog fokus</td>
                         <td md-cell id="psykologfokusDisplay_{{ i.node_uuid }}">{{ i.psykologfokus}}</td>

                     </tr>


<!--edit -->

                    <tr md-row class="clickable" ng-show="vm.editperid == i.node_uuid" ng-click="vm.gotoCase(case.caseNumber)">
                        <td md-cell>Psykolog fokus</td>

                        <td md-input-container class="md-block">

                            <input ng-model="flow.psykologfokus" >
                        </td >
                    </tr>



                     </tbody>
                 </table>


             </md-table-container>
            </md-content>

            <md-card-actions tst="hej" layout="row" layout-align="end center" >
                <md-button class="md-icon-button" aria-label="icon">
                    <md-icon md-svg-icon="icon"></md-icon>
                </md-button>
                <!--<md-button ng-disabled="save" ng-click="collapsed=vm.editCase(i);edit=collapsed;save=collapsed;">ret  </md-button>-->
                <md-button ng-disabled="vm.saveShow" ng-click="vm.editing=true;collapsed=vm.editCase(i);save=collapsed; ">ret  </md-button>
                <md-button ng-click="save=false;vm.editing=false;;vm.save(i.node_uuid, i.doctor, i.socialworker, i.psychologist, i.status)" ng-show="vm.saveShow">gem</md-button>
                <md-button ng-click="save=false;vm.editing=false;;vm.cancel(i.node_uuid)" ng-show="vm.saveShow">annuller</md-button>
                <md-button ng-show="!collapsed && !vm.editing" ng-click="collapsed=!collapsed;vm.updateCard(i)" > <md-icon>keyboard_arrow_down</md-icon> </md-button>
                <md-button ng-show="collapsed && !vm.editing" ng-click="collapsed=!collapsed"> <md-icon>keyboard_arrow_up</md-icon> </md-button>


            </md-card-actions>



        </md-card>


        </div>

    </md-content>






</md-card>
    </th>
</tr>
</table>

