<style>

.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;

}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {

}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

</style>

<md-card class="dropdown-card"  >



    <md-card-title >
        <h3 class="md-title od-title-icon"><md-icon>history</md-icon> {{'COMMON.HISTORY' | translate }}</h3>
    </md-card-title>



    <md-content class="md-padding" layout-wrap >


        <!-- headlines -->
        <md-card class="dropdown-card">
            <md-content>


                <md-table-container >


                    <table class="fixed_header" md-table >

                    <thead md-head >
                    <tr md-row>
                        <th md-column >{{'FLOWCHART.CREATED' | translate}}</th>
                        <th md-column >{{'FLOWCHART.CPR' | translate}}</th>
                        <th md-column >{{'FLOWCHART.FORNAVN' | translate}}</th>
                        <th md-column >{{'FLOWCHART.EFTERNAVN' | translate}}</th>
                        <th md-column >{{'FLOWCHART.HOVEDSIGTELSE' | translate}}</th>
                    </tr>
                    </thead>

                    </table>
                    </md-table-container>

            </md-content>
        </md-card>

        <!-- contents -->
        <div  ng-repeat="i in [1,2,3]" >

        <md-card class="dropdown-card">


        <md-card-title ng-click="vm.updateCollapse()" >


            <md-table-container >

                <table class="fixed_header" md-table >

                    <thead md-head >


                    <!--<md-icon class="rotate-arrow">keyboard_arrow_down</md-icon>-->



                    <tr md-row>
                        <th md-column > 10-08-19</th>
                        <th md-column > 020373-2558</th>
                        <th md-column >Jørgen</th>
                        <th md-column >Jørgensen</th>
                        <th md-column >Vold i hjemmet</th>
                    </tr>

                    </thead>

                </table>
            </md-table-container>
        </md-card-title>


         <md-content class="md-padding" layout-wrap ng-class="vm.collapse ? 'fold-in' : 'fold-out'">

             <md-table-container>


                 <table md-table>

                     <tbody md-body >

                     <tr md-row class="clickable" ng-click="vm.gotoCase(case.caseNumber)">
                             <td md-cell>Status</td>
                             <td md-cell>xxxxxx</td>
                             <td md-cell>Samtykke til oplysninger</td>
                             <td md-cell>xxxxx</td>
                     </tr>

                     <tr md-row class="clickable" ng-click="vm.gotoCase(case.caseNumber)">
                         <td md-cell>Status</td>
                         <td md-cell>xxxxxx</td>
                         <td md-cell>Samtykke til oplysninger</td>
                         <td md-cell>xxxxx</td>
                     </tr>

                     <tr md-row class="clickable" ng-click="vm.gotoCase(case.caseNumber)">
                         <td md-cell>Status</td>
                         <td md-cell>xxxxxx</td>
                         <td md-cell>Samtykke til oplysninger</td>
                         <td md-cell>xxxxx</td>
                     </tr>

                     <tr md-row class="clickable" ng-click="vm.gotoCase(case.caseNumber)">
                         <td md-cell>Status</td>
                         <td md-cell>xxxxxx</td>
                         <td md-cell>Samtykke til oplysninger</td>
                         <td md-cell>xxxxx</td>
                     </tr>






                     </tbody>
                 </table>


                     <!--<table class="fixed_header" md-table >-->

                         <!--<thead md-head >-->

                         <!--<tr md-row>-->
                             <!--<th md-column >TEST</th>-->
                             <!--<th md-column >{{'COMMON.LAST_MODIFIED' | translate}}</th>-->
                             <!--<th md-column >{{'COMMON.LAST_MODIFIED' | translate}}</th>-->
                             <!--<th md-column >{{'COMMON.LAST_MODIFIED' | translate}}</th>-->
                             <!--<th md-column >{{'COMMON.LAST_MODIFIED_BY' | translate}}</th>-->
                         <!--</tr>-->
                         <!--</thead>-->
                         <!--<td>-->
                             <!--<md-button ng-click="vm.showEditVersionDialog()"  class="md-primary">gendan</md-button>-->
                         <!--</td>-->


                         <!--<tr>-->
                             <!--sdafsadf-->
                         <!--</tr>-->

                         <!--<tr>-->
                             <!--sdafsadf-->
                         <!--</tr>-->



                     <!--</table>-->



             </md-table-container>
            </md-content>



        </md-card>


        </div>

    </md-content>


    <!--<md-card-content  ng-class="vm.collapse ? 'fold-in' : 'fold-out'">-->
        <!--&lt;!&ndash;<div layout="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div flex="50">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="od-secondary">{{'COMMON.LAST_MODIFIED' | translate}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div flex="50">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="od-secondary">{{'COMMON.LAST_MODIFIED_BY' | translate}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<md-table-container >-->


            <!--<table class="fixed_header" md-table >-->







                <!--<tbody md-body>-->

                <!--<tr md-row ng-repeat="h in vm.history" ng-class="vm.selectedVersion === h.version || h.version === vm.history.latest_version ? 'highlight' : '' ">-->
                    <!--<td md-cell><a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version, latest: h.latest})">{{ h.created | openeDate}}</a></td>-->

                    <!--<td md-cell>-->
                        <!--<a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version, latest: h.latest})">{{ h.modifier }}-->
                    <!--</td>-->

                <!--</tr>-->

                <!--<tr>-->

                    <!--<td>-->
                        <!--<md-button ng-click="vm.showEditVersionDialog()" ng-show="vm.showRevertButton" class="md-primary">gendan</md-button>-->
                    <!--</td>-->


                <!--</tr>-->

                <!--</tbody>-->



                <!--&lt;!&ndash;<div class="entry" ng-repeat="h in vm.history" layout="row" ng-class="vm.selectedVersion === h.version || h.version === vm.history.latest_version ? 'highlight' : '' ">&ndash;&gt;-->
                <!--&lt;!&ndash;<div flex="50">&ndash;&gt;-->
                <!--&lt;!&ndash;<a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version})">{{ h.created | openeDate}}</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div flex="50">&ndash;&gt;-->
                <!--&lt;!&ndash;<a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version})">{{ h.modifier }}</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--</table>-->
        <!--</md-table-container>-->



    <!--</md-card-content>-->
</md-card>
    </th>
</tr>
</table>