<md-dialog aria-label="upload-files">
    <form name="uploadForm" ng-submit="vm.uploadTemplateFiles()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'COMMON.UPLOAD_TEMPLATE' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">

            <md-radio-group ng-model="template_type" required>
                <md-radio-button value="kendelse"> {{'COMMON.KENDELSE' | translate}}</md-radio-button>
                <md-radio-button value="samtykke"> {{'COMMON.SAMTYKKE' | translate}}</md-radio-button>
            </md-radio-group>

            <input type="file" ngf-select ngf-multiple="true" ng-model="vm.files" required>

            <ul>
                <li ng-repeat="f in vm.files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
            </ul>
        </md-dialog-content>


        <md-dialog-actions>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" ng-show="vm.uploading"></md-progress-circular>
            </div>

            <md-button class="md-primary" type="submit" ng-disabled="vm.files.length == 0 || vm.uploading">
                <md-icon>file_upload</md-icon>
                {{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}
            </md-button>
        </md-dialog-actions>
</md-dialog>
</form>
