<span class="toolbar-contextual">
<md-button class="md-icon-button" ng-click="" ng-if="'administration.systemsettings.diagnosis' | isState">
    <md-icon>edit</md-icon>
</md-button>

<md-button class="md-icon-button" ng-click="" ng-if="'administration.systemsettings.diagnosis' | isState">
    <md-icon>delete</md-icon>
</md-button>
</span>

<md-button ng-click="addDiagnosisDialog()" ng-if="'administration.systemsettings.diagnosis' | isState">
    <md-icon>add</md-icon>
    <span>Tilføj diagnose</span>
</md-button>

<!--<md-button ng-click="submit()" ng-if="'declaration.create' | isState">
    <md-icon>add</md-icon>
    <span>Opret erklæring</span>
</md-button>-->