
<span ng-if="vm.canCreate">
    <md-button ng-click="vm.createNewBuaDeclaration()" ng-if="'declaration' | isState">
        <md-icon>add</md-icon>
        <span>{{'DECLARATION.NEW_BUA_DECLARATION' | translate}}</span>
    </md-button>
    <md-button class="md-raised md-primary md-hue-2" ng-click="vm.createNewDeclaration()" ng-if="'declaration' | isState">
        <md-icon>add</md-icon>
        <span>{{'DECLARATION.NEW_DECLARATION' | translate}}</span>
    </md-button>

    <md-button ng-click="vm.submit()" ng-if="'declaration.create' | isState" ng-disabled="$root.declarationForm.$invalid">
        <md-icon>save</md-icon>
        <span>{{'COMMON.SAVE' | translate}}</span>
    </md-button>
</span>