<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Hoveddiagnose</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.petitionDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Bi-diagnose</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.petitionDate}}
        </div>
    </div>
</md-list-item>