<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Læge 1</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.petitionDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Læge 2</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.petitionDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Psykolog</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.petitionDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Socialrådgiver</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.petitionDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Sekretær</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.petitionDate}}
        </div>
    </div>
</md-list-item>