<div layout="row">
    <div flex-gt-md="10" flex="15">
        <md-button class="md-text-icon-button" aria-label="edit" ui-sref="declaration.show.patientdata">
            <md-icon>assignment</md-icon> Patient data
        </md-button>

<!--        <md-button class="md-text-icon-button" aria-label="edit" ui-sref="declaration.show.documents({init: 'true' })">-->
<!--            <md-icon>insert_drive_file</md-icon> Dokumenter-->
<!--        </md-button>-->

        <md-button class="md-text-icon-button" aria-label="edit" ng-click="gotoDocuments()">
            <md-icon>insert_drive_file</md-icon> Dokumenter
        </md-button>

    </div>

    <div flex>
        <div ui-view='declarations'></div>doc
    </div>
</div>

