<div layout="row">
    <md-sidenav class="md-sidenav-left sidenav-fixed" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-button class="md-text-icon-button" aria-label="edit" ng-click="viewPatientData()">
            <md-icon>content_paste</md-icon> Patient data
        </md-button>
        <md-button class="md-text-icon-button" aria-label="edit" ng-click="viewDocuments()">
            <md-icon>library_books</md-icon> Dokumenter
        </md-button>
    </md-sidenav>

    <div class="od-info-declarations" flex>
        <div ui-view='declarations'></div>
    </div>
</div>
