<div layout="row" layout-wrap ng-repeat="content in contents" ng-if="!tableView">
    <md-card ng-repeat="c in content" flex-gt-sm="15" flex='45'>
        <md-checkbox class="document-checkbox" aria-label="Checkbox {{c.shortRef}}" ng-model="c.shortRef" ng-click="selectedFile(c)"></md-checkbox>
        <span ng-click="!isEditing ? viewFile(c) : null">
            <img ng-src="{{c.thumbnail}}" class="md-card-image">
            <md-card-content class="document-filename">
                <span class="md-subhead">{{c.name}}</span>
        </md-card-content>
        </span>
    </md-card>
</div>

<md-card ng-show="tableView && contentLength > 0">
    <md-card-content>
        <md-table-container>
            <table md-table md-row-select multiple>
                <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        <th md-column>Name</th>
                        <th md-column md-numeric>Date modified</th>
                        <th md-column md-numeric>Modified by</th>
                    </tr>
                </thead>
                <tbody md-body ng-repeat="content in contents">
                    <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="c in content">
                        <td md-cell><md-checkbox aria-label="Checkbox {{c.shortRef}}" ng-model="c.shortRef" ng-click="selectedFile(c)"></md-checkbox></td>
                        <td md-cell>{{c.name}}</td>
                        <td md-cell>{{c.lastChanged | customDate}}</td>
                        <td md-cell>{{c.lastChangedBy}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>
</md-card>

<div layout="column" ng-show="contentLength == 0">
    <md-icon class="md-icon--large">insert_drive_file</md-icon>
    <p class="md-display-1" style="text-align:center">Ingen dokumenter tilknyttet denne sag endnu.</p>
</div>