<span ng-if="!case.hasOwnProperty('closed')">
<span class="toolbar-contextual" ng-if="'declaration.show.documents.edit' | isState">

     <md-button class="md-icon-button" aria-label="download" ng-click="downloadDocuments($event)">
        <md-icon>file_download</md-icon>
    </md-button> 
    <md-button class="md-icon-button" aria-label="edit" ng-click="deleteDocumentsDialog($event)">
        <md-icon>delete</md-icon>
    </md-button>
</span>

<md-button class="md-text-icon-button" aria-label="edit" ng-click="uploadDocumentsDialog($event)">
    <md-icon>file_upload</md-icon> Nyt dokument
</md-button>

<md-button class="md-icon-button" aria-label="view" ng-click="toggleDocumentView()">
    <md-icon>{{toggleIcon}}</md-icon>
</md-button>
</span>

<span ng-if="case.hasOwnProperty('closed')">
    <md-icon>done</md-icon> Sagen er afsluttet
</span>