<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Kendelsedato</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.verdictDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Begæringsdato</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.petitionDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Sagen oprettet</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.creationDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Observation på</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.observationDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Erklæring afgivet</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.declarationDate}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Afsluttet uden erklæring</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.endedWithoutDeclaration}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Sendt til</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.sentTo}}
        </div>
    </div>
</md-list-item>

<md-list-item>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Samtykke</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.consent}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Retslægeråd</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.forensicDoctorCouncil}}
            {{case.forensicDoctorCouncilText}}


        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Endelig dom</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.finalVerdict}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Dom</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.verdict}}
        </div>
    </div>
</md-list-item>

<md-list-item>
    <div class="md-no-style md-list-item-inner">
        <div flex="10">
            <a class="member" ng-click="vm.openMemberInfo(member)">Bemærkning</a>
        </div>
        <div flex="15" class="od-secondary">
            {{case.remarks}}
        </div>
    </div>
</md-list-item>