<form name="$root.declarationForm" ng-hide="isLoading">
    <div layout="row" layout-wrap>
        <div layout="column" flex-gt-sm="25" flex-sm="50" flex="100">
            <ng-include src="'app/src/declaration/view/sections/basic-info.html'"></ng-include>
            <ng-include src="'app/src/declaration/view/sections/referral.html'"></ng-include>
        </div>

        <div layout="column" flex-gt-sm="25" flex-sm="50" flex="100">
            <ng-include src="'app/src/declaration/view/sections/declaration.html'"></ng-include>
            <ng-include src="'app/src/declaration/view/sections/icd-10.html'"></ng-include>
        </div>

        <div layout="column" flex-gt-sm="25" flex-sm="50" flex="100">
            <ng-include src="'app/src/declaration/view/sections/judgement.html'"></ng-include>
        </div>

        <div layout="column" flex-gt-sm="25" flex-sm="50" flex="100">
            <ng-include src="'app/src/declaration/view/sections/doctor-board.html'"></ng-include>
            <ng-include src="'app/src/declaration/view/sections/history.html'"></ng-include>
        </div>
    </div>
</form>

<md-button class="md-fab md-fab-bottom-right" aria-label="Opret erklæring" ng-click="vm.hej()" >
    <md-icon>add</md-icon>
    <md-tooltip md-direction="left">Opret erklæring</md-tooltip>
</md-button>