<md-dialog aria-label="Lås sagen">
    <form name="lockDeclarationForm" ng-submit="closeCase()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'DECLARATION.LOCK_DECLARATION' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons" aria-label="Luk dialogboks">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <md-radio-group ng-model="closeCaseParams.closed" required>
                <md-radio-button value="closed"> {{'DECLARATION.CLOSED' | translate}}</md-radio-button>
                <md-radio-button value="no-declaration">  {{'DECLARATION.CLOSED_WITHOUT_DECLARATION' | translate}}</md-radio-button>
            </md-radio-group>

            <span ng-show="closeCaseParams.closed == 'no-declaration'">
                <md-autocomplete flex 
            md-selected-item="closeCaseParams.reason" 
            md-search-text="reasonSearch"
            md-items="reason in propertyFilter(propertyValues['noDeclarationReason'],reasonSearch)" 
            md-item-text="reason" 
            md-min-length="0" 
            md-floating-label="Årsag">
            <md-item-template>
                <span md-highlight-text="reasonSearch" md-highlight-flags="gi">{{reason}}</span>
            </md-item-template>
        </md-autocomplete>
            <md-input-container class="md-block">
                <label>Sendt til</label> 
                <input type="text" name="sentTo" ng-model="closeCaseParams.sentTo">
            </md-input-container>
            </span>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-disabled="lockDeclarationForm.$invalid" type="submit" class="md-primary md-text-icon-button">
                <md-icon>lock</md-icon> Afslut
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>