<md-dialog aria-label="Lås sagen" ng-cloak>
    <form name="lockDeclarationForm" ng-submit="">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Lås sagen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <i class="material-icons" aria-label="Luk dialogboks">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <md-radio-group ng-model="case.closed">
                <md-radio-button value="afsluttet"> Afsluttet</md-radio-button>
                <md-radio-button value="ingen-erklaering">  Afsluttet uden erklæring</md-radio-button>
            </md-radio-group>
            <span ng-show="case.closed == 'ingen-erklaering'">
                <md-input-container class="md-block">
                <label>Årsag</label> 
                <input type="text" name="reason">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Sendt til</label> 
                <input type="text" name="sent-to" ng-model="case.sentTo">
            </md-input-container>
            </span>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-disabled="lockDeclarationForm.$invalid" type="submit" class="md-primary md-text-icon-button">
                <md-icon>lock</md-icon> Lås
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>