<span ng-hide="canCurrentlyEdit">
<md-icon>warning</md-icon> 
<md-tooltip>Sagen redigeres i øjeblikket af {{editor.displayName}}</md-tooltip>
</span>

<span ng-if="currentCase.hasOwnProperty('closed') || currentCase.hasOwnProperty('closedWithoutDeclaration')">
    <md-icon>done</md-icon> Sagen er afsluttet
</span>

<span ng-if="!currentCase.hasOwnProperty('closed') && !currentCase.hasOwnProperty('closedWithoutDeclaration')">

<span ng-if="!editMode">
    <md-button class="md-text-icon-button" aria-label="lås sagen" ng-click="lockCaseDialog()" ng-disabled="!canCurrentlyEdit">
        <md-icon>lock</md-icon> afslut sagen
    </md-button>
    <md-button class="md-text-icon-button" aria-label="edit" ng-click="toggleEdit()" ng-disabled="!canCurrentlyEdit">
        <md-icon>edit</md-icon> rediger
    </md-button>
</span>

<span ng-if="editMode">
    <md-button class="md-text-icon-button" aria-label="lås sagen" ng-click="lockCaseDialog()">
        <md-icon>lock</md-icon> gem og afslut sagen
    </md-button>

    <md-button class="md-text-icon-button" aria-label="edit" ng-click="toggleEdit(); saveEdit()">
        <md-icon>save</md-icon> gem
    </md-button>
</span>
</span>