<div layout="row" layout-align="center center" ng-show="!showFilters">
    <div layout="column" style="height:128px" flex-gt-sm="50" flex>
        <span flex></span>
        <div layout="row">
            <md-autocomplete
                md-selected-item="selectedCase"
                md-search-text="caseSearchQuery"
                md-items="case in filterCases(caseSearchQuery, ['cprNumber', 'caseNumber', 'fullName'])"
                md-item-text="'Sag #'+ case.caseNumber + ' - ' + case.firstName + ' ' + case.lastName + ' (' + case.cprNumber + ')'" 
                md-min-length="0" 
                ng-enter="gotoCase(selectedCase.caseNumber)"
                placeholder="Søg på et navn, CPR eller sagsnummer" flex>
                <md-item-template>
                    <span md-highlight-text="caseSearchQuery" md-highlight-flags="gi">
                        #{{case.caseNumber}} - {{case.firstName}} {{case.lastName}} ({{case.cprNumber}})
                    </span>
                    <md-icon ng-show="case.hasOwnProperty('closed')">done</md-icon>
                </md-item-template>
            </md-autocomplete>

            <md-button class="md-icon-button" ng-click="toggleFilters()">
            <md-icon>filter_list</md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="center">
            <a>Se den aktuelle venteliste</a>
        </div>
    </div>
</div>

<ng-include src="'app/src/declaration/view/search-advanced.html'" ng-show="showFilters"></ng-include>

  <md-card>
    <md-card-content>
    <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column md-numeric md-order-by="caseNumber">Sagsnummer</th>
                        <th md-column md-order-by="fullName">Navn</th>
                        <th md-column md-numeric md-order-by="cprNumber">CPR</th>
                        <th md-column md-numeric>Oprettet</th>
                        <th md-column md-numeric>Liggetid (dage)</th>
                    </tr>
                </thead>
                <tbody md-body ng-repeat="case in waitingListCases">
                    <tr md-row ng-click="gotoCase(case.caseNumber)">
                        <td md-cell>{{case.caseNumber}}</td>
                        <td md-cell>{{case.fullName}}</td>
                        <td md-cell>{{case.cprNumber}}</td>
                        <td md-cell>{{case.created}}</td>
                        <td md-cell>{{case.closed}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>
</md-card>  