<div layout="row" layout-align="center center">
    <div layout="column" style="height:144px" flex-gt-sm="50" flex>
        <span flex></span>
        <div layout="row">
            <md-autocomplete
                md-selected-item="selectedCase"
                md-search-text="caseSearchQuery"
                md-items="case in filterCases(caseSearchQuery, ['cprNumber', 'caseNumber', 'fullName'])"
                md-item-text="'Sag #'+ case.caseNumber + ' - ' + case.firstName + ' ' + case.lastName + ' (' + case.cprNumber + ')'" 
                md-min-length="0" 
                ng-enter="gotoCase(selectedCase.caseNumber)"
                placeholder="Søg på et navn, CPR eller sagsnummer" flex>
                <md-item-template>
                    <span md-highlight-text="caseSearchQuery" md-highlight-flags="gi">
                        #{{case.caseNumber}} - {{case.firstName}} {{case.lastName}} ({{case.cprNumber}})
                    </span>
                    <md-icon ng-show="case.hasOwnProperty('closed') || case.hasOwnProperty('closedWithoutDeclaration')">done</md-icon>
                </md-item-template>
            </md-autocomplete>

            <md-button class="md-icon-button" ng-click="toggleFilters()">
            <md-icon>filter_list</md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="center" style="margin-top:16px" ng-click="gotoWaitinglist()">
            <a>Se den aktuelle venteliste</a>
        </div>
    </div>
</div>