<div layout="row" layout-align="center center" ng-show="!results">
    <div layout="column" flex="50">
        <div layout="column">
            <div style="height:50px">
            </div>
        </div>
        <span class="md-title">Vis alle sager med:</span>
        <br>
        <div layout="row">
            <div flex="45">
                <md-autocomplete 
                md-selected-item="searchParams.mainCharge" 
                md-search-text="mainChargeSearch" 
                md-items="mainCarge in propertyFilter(propertyValues['mainCharge'],mainChargeSearch)"
                    md-item-text="mainCarge" 
                    md-min-length="0" 
                    md-floating-label="Hovedsigtelse">
                    <md-item-template>
                        <span md-highlight-text="mainChargeSearch" md-highlight-flags="gi">{{mainCarge}}</span>
                    </md-item-template>
                </md-autocomplete>
                <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.mainCharge != null">{{searchParams.mainCharge}}</md-tooltip>
            </div>

            <div flex flex-offset="10">
                <md-autocomplete 
                md-selected-item="searchParams.placement" 
                md-search-text="placementSearch" 
                md-items="placement in propertyFilter(propertyValues['placement'],placementSearch)"
                    md-item-text="placement" 
                    md-min-length="0" 
                    md-floating-label="Placering">
                    <md-item-template>
                        <span md-highlight-text="placementSearch" md-highlight-flags="gi">{{placement}}</span>
                    </md-item-template>
                </md-autocomplete>
                <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.placement != null">{{searchParams.placement}}</md-tooltip>
            </div>

        </div>
        <div layout="row">
            <div flex="45">
                <md-autocomplete 
                md-selected-item="searchParams.sanctionProposal" 
                md-search-text="sanctionProposalSearch" 
                md-items="sanctionProposal in propertyFilter(propertyValues['sanctionProposal'],sanctionProposalSearch)"
                    md-item-text="sanctionProposal" 
                    md-min-length="0" 
                    md-floating-label="Sanktionsforslag">
                    <md-item-template>
                        <span md-highlight-text="sanctionProposalSearch" md-highlight-flags="gi">{{sanctionProposal}}</span>
                    </md-item-template>
                </md-autocomplete>
                <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.sanctionProposal != null">{{searchParams.sanctionProposal}}</md-tooltip>
            </div>

            <md-autocomplete flex="45" 
            flex-offset="10" 
            md-selected-item="searchParams.diagnosis" 
            md-search-text="diagnosisSearch" 
            md-items="diagnosis in propertyFilter(propertyValues['diagnosis'],diagnosisSearch)"
                md-item-text="diagnosis" 
                md-min-length="0" 
                md-floating-label="Hoveddiagnose">
                <md-item-template>
                    <span md-highlight-text="diagnosisSearch" md-highlight-flags="gi">{{diagnosis}}</span>
                </md-item-template>
            </md-autocomplete>
        </div>
        <div layout="row">
            <md-input-container flex="45">
                <label>Læge</label>
                <input ng-model="searchParams.doctor">
            </md-input-container>

            <div flex-offset="10">
                <md-checkbox ng-model="searchParams.psychEval">
                    Psykologisk undersøgelse foretaget
                </md-checkbox>
            </div>
        </div>
        <div layout="row">

            <div layout="row" flex="45">
                <md-input-container>
                    <label>Ventetid</label>
                    <md-select ng-model="searchParams.waitingTime.time">
                        <md-option value="passive">
                            Passiv ventetid
                        </md-option>
                        <md-option value="active">
                            Aktiv ventetid
                        </md-option>
                        <md-option value="total">
                            Samlet ventetid
                        </md-option>
                        <md-option value=""></md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex-offset="5">
                    <md-select ng-model="searchParams.waitingTime.modifier" aria-label="modifier">
                        <md-option value="over">
                            Over
                        </md-option>
                        <md-option value="under">
                            Under
                        </md-option>
                        <md-option value="equal">
                            Lig med
                        </md-option>
                        <md-option value=""></md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex-offset="5">
                    <input ng-model="searchParams.waitingTime.days" size="4" aria-label="antal dage">
                </md-input-container>
                dage
            </div>
            <div flex="45" flex-offset="10">
                <md-checkbox ng-model="searchParams.closed">
                    Erklæring afgivet
                </md-checkbox>
            </div>
        </div>

        <div layout="row">
            I perioden
            <md-input-container>
                <label>Fra</label>
                <md-datepicker ng-model="searchParams.fromDate"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label>Til</label>
                <md-datepicker ng-model="searchParams.toDate"></md-datepicker>
            </md-input-container>
        </div>
        <md-button ng-click="advancedSearch(searchParams); toggleResults()">
            Søg
        </md-button>
    </div>
</div>


  <md-card ng-show="results">
  <md-card-title>
      <md-button ng-click="toggleResults()">Ret søgning</md-button>
  </md-card-title>
    <md-card-content>
    <md-table-container>
            <table md-table>
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-numeric md-order-by="caseNumber">Sagsnummer</th>
                        <th md-column md-order-by="fullName">Navn</th>
                        <th md-column md-numeric md-order-by="cprNumber">CPR</th>
                        <th md-column md-order-by="doctor">Læge</th>
                        <th md-column md-order-by="closed">Erklæring afgivet</th>
                        <th md-column md-order-by="psychologist">Psykologisk evaluering</th>
                        <th md-column md-order-by="mainCharge" ng-if="searchParams.mainCharge">Hovedsigtelse</th>
                        <th md-column md-order-by="placement" ng-if="searchParams.placement">Placering</th>
                        <th md-column md-order-by="sanctionProposal" ng-if="searchParams.sanctionProposal">Sanktionsforslag</th>
                        <th md-column md-order-by="diagnosis" ng-if="searchParams.diagnosis">Hoveddiagnose</th>
                        <th md-column md-order-by="passiveWaitTime" ng-if="searchParams.waitingTime.time == 'passive'">Passiv ventetid</th>
                        <th md-column md-order-by="activeWaitTime" ng-if="searchParams.waitingTime.time == 'active'">Aktiv ventetid</th>
                        <th md-column md-order-by="totalWaitTime" ng-if="searchParams.waitingTime.time == 'total'">Samlet ventetid</th>
                    </tr>
                </thead>
                <tbody md-body ng-if="advancedSearchResults.length == 0">
                    <td md-cell colspan="13" style="text-align:center">Ingen erklæringer passer på din søgning</td>
                </tbody>
                <tbody md-body ng-repeat="case in advancedSearchResults | orderBy : query.order ">
                    <tr md-row ng-click="gotoCase(case.caseNumber)">
                        <td md-cell>{{case.caseNumber}}</td>
                        <td md-cell>{{case.fullName}}</td>
                        <td md-cell>{{case.cprNumber}}</td>
                        <td md-cell>{{case.doctor}}</td>
                        <td md-cell>
                            <span ng-if="case.closed">Afsluttet</span>
                            <span ng-if="case.closedWithoutDeclaration">
                                Afsluttet uden erklæring: {{case.closedWithoutDeclarationReason}}<br>
                                Sendt til: {{case.closedWithoutDeclarationSentTo}}
                            </span>
                        </td>
                        <td md-cell>{{case.psychologist}}</td>
                        <td md-cell ng-if="searchParams.mainCharge">{{case.mainCharge}}</td>
                        <td md-cell ng-if="searchParams.placement">{{case.placement}}</td>
                        <td md-cell ng-if="searchParams.diagnosis">{{case.diagnosis}}</td>
                        <td md-cell ng-if="searchParams.waitingTime.time == 'passive'">{{case.passiveWaitTime}}</td>
                        <td md-cell ng-if="searchParams.waitingTime.time == 'active'">{{case.activeWaitTime}}</td>
                        <td md-cell ng-if="searchParams.waitingTime.time == 'total'">{{case.totalWaitTime}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>
</md-card>  