<md-dialog  width="300" aria-label="Opdater brugeren ">
    <form name="renameForm" ng-submit="updateUser()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{selectedUserFirstName}} {{selectedUserLastName}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons" aria-label="Luk dialogboks">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">

            <md-input-container class="md-block">
                 <md-checkbox aria-label="aktiveret" ng-model="bua">BUA Bruger</md-checkbox>
            </md-input-container>

            Signatur: <md-button ng-click="openDialog()">upload ny fil</md-button>

            <md-input-container class="md-block">
                <label>Tekst</label>
                <textarea class="textarea-highlight" ng-model="signatureText" rows="3" ></textarea>
            </md-input-container>



            <div>Oprettet: {{oprettet}}</div>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="submit" class="md-primary" ng-disabled="renameForm.$invalid" aria-label="{{'COMMON.RENAME' | translate}}">{{'COMMON.SAVE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
