<style>

.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 550px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {

}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

</style>


<md-card>
    <md-card-content>
        <md-table-container >
            <table class="fixed_header" md-table >
                <thead md-head md-order="query.order" >
                    <tr md-row>
                        <th md-column md-order-by="firstName">Navn</th>
                        <th md-column md-numeric md-order-by="active">Aktiveret</th>
                        <th md-column md-numeric md-order-by="GROUP_site_retspsyk_SiteConsumer">Kun læse</th>
                        <th md-column md-numeric md-order-by="GROUP_reopen_cases">Genåbne sager</th>
                        <th md-column md-numeric md-order-by="GROUP_site_retspsyk_SiteListManager">Redigere lister</th>
                        <th md-column md-numeric md-order-by="GROUP_site_retspsyk_SiteRoleManager">Tildele roller</th>
                        <th md-column md-numeric md-order-by="GROUP_site_retspsyk_TemplateFolderValueManager">Oprette dokumentskabeloner</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="user in allUsers | orderBy: query.order" ng-if="user.userName!='admin'">
                        <td md-cell>{{user.firstName}} {{user.lastName}}</td>
                        <td md-cell>
                            <md-checkbox aria-label="aktiveret" ng-model="user.active"></md-checkbox>
                        </td>
                        <td md-cell>
                            <md-checkbox aria-label="kun læse" ng-model="user.GROUP_site_retspsyk_SiteConsumer"></md-checkbox>
                        </td>
                        <td md-cell>
                            <md-checkbox aria-label="genåbne sager" ng-model="user.GROUP_site_retspsyk_SiteEntryLockManager"></md-checkbox>
                        </td>
                        <td md-cell>
                            <md-checkbox aria-label="redigere lister" ng-model="user.GROUP_site_retspsyk_SitePropertyValueManager"></md-checkbox>
                        </td>
                        <td md-cell>
                            <md-checkbox aria-label="tildele roller" ng-model="user.GROUP_site_retspsyk_SiteRoleManager"></md-checkbox>
                        </td>
                        <td md-cell>
                            <md-checkbox aria-label="Oprette dokumentskabeloner" ng-model="user.GROUP_site_retspsyk_TemplateFolderValueManager"></md-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>
</md-card>