
<style>
document-history {
.entry {
line-height: 2;
}
.selected {
background-color: #e1e1e1;
}
}
</style>


<style>

.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 550px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {

}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

</style>

<div ng-hide="vm.showBackToEmail">
    <md-card class="dropdown-card"  ng-show="vm.canRevertDocument">

        <md-card-title ng-click="vm.updateCollapse()" >
            <h3 class="md-title od-title-icon"><md-icon>history</md-icon> {{'COMMON.HISTORY' | translate }}</h3>
            <span flex></span>
            <md-icon class="rotate-arrow">keyboard_arrow_down</md-icon>
        </md-card-title>

        <md-card-content  ng-class="vm.collapse ? 'fold-in' : 'fold-out'">
            <!--<div layout="row">-->
                <!--<div flex="50">-->
                    <!--<span class="od-secondary">{{'COMMON.LAST_MODIFIED' | translate}}</span>-->
                <!--</div>-->
                <!--<div flex="50">-->
                    <!--<span class="od-secondary">{{'COMMON.LAST_MODIFIED_BY' | translate}}</span>-->
                <!--</div>-->
            <!--</div>-->

            <md-table-container >


            <table class="fixed_header" md-table >


                <thead md-head >
                <tr md-row>
                    <th md-column >{{'COMMON.LAST_MODIFIED' | translate}}</th>
                    <th md-column >{{'COMMON.LAST_MODIFIED_BY' | translate}}</th>
                </tr>
                </thead>




                <tbody md-body>

                <tr md-row ng-repeat="h in vm.history" ng-class="vm.selectedVersion === h.version || h.version === vm.history.latest_version ? 'highlight' : '' ">
                    <td md-cell><a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version, latest: h.latest})">{{ h.created | openeDate}}</a></td>

                    <td md-cell>
                        <a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version, latest: h.latest})">{{ h.modifier }}
                    </td>

                </tr>

                <tr>

                    <td>
                        <md-button ng-click="vm.showEditVersionDialog()" ng-show="vm.showRevertButton" class="md-primary">gendan</md-button>
                    </td>


                </tr>

                </tbody>



            <!--<div class="entry" ng-repeat="h in vm.history" layout="row" ng-class="vm.selectedVersion === h.version || h.version === vm.history.latest_version ? 'highlight' : '' ">-->
                <!--<div flex="50">-->
                    <!--<a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version})">{{ h.created | openeDate}}</a>-->
                <!--</div>-->

                <!--<div flex="50">-->
                    <!--<a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version})">{{ h.modifier }}</a>-->
                <!--</div>-->
            <!--</div>-->

            </table>
            </md-table-container>



        </md-card-content>
    </md-card>
</div>

<md-card class="dropdown-card">
    <md-card-title >
        <h3 class="md-title od-title-icon">
            <md-icon>tune</md-icon> {{'COMMON.ACTIONS' | translate }}</h3>
    </md-card-title>

    <md-card-content>

    <div ng-hide="vm.showBackToEmail">
        <div ng-show="vm.state">
            {{ vm.editByText }}

            <div ng-show="vm.showAdminForceUnlock">

                <md-button ng-click="vm.forceUnlockDocument()" class="md-text-icon-button md-primary">
                    <md-icon md-menu-align-target>edit</md-icon>
                    {{'DOCUMENT.FORCE.UNLOCK' | translate }}
                </md-button>
            </div>

        </div>


        <div>
            <md-button ng-show="vm.loolEditable && vm.canEdit && !vm.state" ng-click="vm.goToLOEditPage()" class="md-text-icon-button md-primary">
                <md-icon md-menu-align-target>edit</md-icon>
                {{'DOCUMENT.EDIT_DOCUMENT' | translate }}
            </md-button>
        </div>
        <div ng-show="!vm.showBackToSearch">
            <md-button ng-click="vm.downloadDocument()" class="md-text-icon-button md-primary">
                <md-icon md-menu-align-target>get_app</md-icon>
                {{'COMMON.DOWNLOAD' | translate }}
            </md-button>
        </div>
        <div>
            <md-button ng-click="vm.updatePreview()" class="md-text-icon-button md-primary">
                <md-icon md-menu-align-target>cached</md-icon>
                {{'COMMON.UPDATE' | translate }} {{'COMMON.PREVIEW' | translate}}
            </md-button>
        </div>

        <div ng-show="!vm.showBackToSearch">
            <md-button ng-click="vm.back()" class="md-text-icon-button md-primary">
                <md-icon md-menu-align-target>arrow_back</md-icon>
                {{'COMMON.BACK' | translate }}
            </md-button>
        </div>
        </div>


        <div ng-show="vm.showBackToEmail">
        <md-button ng-click="vm.backToEmail()" class="md-text-icon-button md-primary">
            <md-icon md-menu-align-target>arrow_back</md-icon>
            {{'COMMON.BACK_TOEMAIL' | translate }}
        </md-button>
        </div>

        <div ng-show="vm.showBackToSearch">
            <md-button ng-click="vm.backToSearch()" class="md-text-icon-button md-primary">
                <md-icon md-menu-align-target>arrow_back</md-icon>
                {{'COMMON.BACK_TOSEARCH' | translate }}
            </md-button>
        </div>



    </md-card-content>

</md-card>
