<style>
    textarea {
        width: 300px;
        height: 150px;
        color: blue;
    }

    .oneormore {
        font-weight: bold;
    }

</style>

<html>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span ng-show="vm.oneormoreKonklusion" class="md-headline oneormore">Konklusion på psykologisk undersøgelse</span>
            <span ng-hide="vm.oneormoreKonklusion" class="md-headline">Konklusion på psykologisk undersøgelse</span>
<!--            <span class="md-headline">Konklusion på psykologisk undersøgelse</span>-->
        </md-card-title-text>
    </md-card-title>
    <md-card-content>


            <md-input-container>
                <textarea  ng-disabled="vm.disableTextArea" style="width: 500px" ng-model="vm.conclusionText" rows="3"></textarea>
            </md-input-container>

        <md-button  ng-click="vm.viewButton2(vm.PROP_PSYC_LIBRARY_KONKLUSION_TAGS)" ">Standard formuleringer
        <md-icon>edit</md-icon>
        </md-button>

        <md-button ng-hide="vm.showSave" ng-click="vm.disableTextArea=false;vm.showSave=true" ">rediger fritekst</md-button>
        <md-button ng-show="vm.showSave" ng-click="vm.saveConclusionText()" ">gem fritekst</md-button>





    </md-card-content>
</md-card>
</html>
