<style>
    textarea {
        width: 300px;
        height: 150px;
        color: blue;
    }
</style>

<html>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Konklusion på psykologisk undersøgelse</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>


            <md-input-container>
                <textarea  style="width: 500px" ng-model="flow.oplysningerEksternt" rows="3"></textarea>
            </md-input-container>

        <md-button  ng-click="vm.viewButton(vm.PROP_PSYC_LIBRARY_KONKLUSION_TAGS)" ">Standard formuleringer
        <md-icon>edit</md-icon>
        </md-button>

        <md-button  ng-click="vm.viewButton(vm.PROP_PSYC_LIBRARY_KONKLUSION_TAGS)" ">gem</md-button>





    </md-card-content>
</md-card>
</html>
