<html>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <div>
            <span class="md-headline">{{vm.selectedInstrumentName}} <md-button ng-click="vm.save()"> gem</md-button> </span> <md-button class="md-icon-button" ng-click="vm.cancelDialog()"><md-icon>close</md-icon></md-button>
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>

        <table style="word-wrap:break-word;table-layout:fixed;">
        <tr>

        <td >
        <div layout="column">
            <div>
                <div ng-repeat="block in vm.itemsColumnOne">
                    <div layout="row">
                        <md-checkbox layout="column" flex-gt-sm="65" flex-sm="50"flex="100" aria-label="aktiveret"  ng-model="myCountry.selected[block.id]"  ng-true-value="true" ng-false-value="false" >{{block.label}}</md-checkbox>
                    </div>
                </div>
            </div>
        </div>
        </td>

        <td>
        <div layout="column">
            <div>
                <div ng-repeat="block in vm.itemsColumnTwo">
                    <div layout="row">
                        <md-checkbox layout="column" flex-gt-sm="65" flex-sm="50"flex="100" aria-label="aktiveret"  ng-model="myCountry.selected[block.id]"  ng-true-value="true" ng-false-value="false" >{{block.label}}</md-checkbox>
                    </div>
                </div>
            </div>
        </div>
        </td>

        <td>
        <div layout="column">
            <div>
                <div ng-repeat="block in vm.itemsColumnTree">
                    <div layout="row">
                        <md-checkbox layout="column" flex-gt-sm="65" flex-sm="50"flex="100" aria-label="aktiveret"  ng-model="myCountry.selected[block.id]"  ng-true-value="true" ng-false-value="false" >{{block.label}}</md-checkbox>
                    </div>
                </div>
            </div>
        </div>
        </td>






        </tr>
        </table>
    </md-card-content>
</md-card>
</html>
