<style>
    .oneormore {
        font-weight: bold;
        }
</style>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Psykologisk undersøgelsestype</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="row">

            <md-input-container class="md-block" flex>
                <label ng-show="vm.oneormorePsykologiskUnder" class="oneormore">psykologisk undersøgelsestype</label>
                <label ng-hide="vm.oneormorePsykologiskUnder" >psykologisk undersøgelsestype</label>


                <input ng-model="vm.PsycInstruments" maxlength="10" minlength="10" name="psychInstruments" ng-disabled="true">
            </md-input-container>

            <md-button class="md-icon-button" ng-click="vm.viewButton2(vm.PROP_PSYC_LIBRARY_PSYCH_TYPE)" ">
                <md-icon>edit</md-icon>
            </md-button>

        </div>

    </md-card-content>
</md-card>
