<style>
    .oneormore {
        font-weight: bold;
    }
</style>


<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Undersøgelsesinstrumenter</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="row">

            <md-input-container class="md-block" flex>
                <label ng-show="vm.oneormorePsykInter" class="oneormore" >Psykiatriske interviews og ratingscales</label>
                <label ng-hide="vm.oneormorePsykInter" >Psykiatriske interviews og ratingscales</label>
                <input ng-model="case.cprNumber" maxlength="10" minlength="10" ng-disabled="!editPatientData" name="cprNo" ng-disabled="true">
            </md-input-container>

            <md-button class="md-icon-button" ng-click="vm.viewButton2(vm.PROP_PSYC_LIBRARY_INTERVIEWRATING)" ">
                <md-icon>edit</md-icon>
            </md-button>

        </div>

        <div layout="row">

            <md-input-container class="md-block" flex>
                <label ng-show="vm.oneormoreKognitive" class="oneormore" >Kognitive og neuropsykologiske præstationstests</label>
                <label ng-hide="vm.oneormoreKognitive" >Kognitive og neuropsykologiske præstationstests</label>
                <input ng-model="case.cprNumber" maxlength="10" minlength="10" ng-disabled="!editPatientData" name="cprNo" ng-disabled="true">
            </md-input-container>

            <md-button class="md-icon-button" ng-click="vm.viewButton2(vm.PROP_PSYC_LIBRARY_KOGNITIV)" ">
            <md-icon>edit</md-icon>
            </md-button>

        </div>

        <div layout="row">

            <md-input-container class="md-block" flex>
                <label ng-show="vm.oneormoreImpTest" class="oneormore" >Implicitte (projektive) tests</label>
                <label ng-hide="vm.oneormoreImpTest">Implicitte (projektive) tests</label>
                <input ng-model="case.cprNumber" maxlength="10" minlength="10" ng-disabled="!editPatientData" name="cprNo" ng-disabled="true">
            </md-input-container>

            <md-button class="md-icon-button" ng-click="vm.viewButton2(vm.PROP_PSYC_LIBRARY_IMPLECITE)" ">
            <md-icon>edit</md-icon>
            </md-button>

        </div>

        <div layout="row">

            <md-input-container class="md-block" flex>
                <label ng-show="vm.oneormoreEksTest" class="oneormore" >Eksplicitte (spørgeskema) tests</label>
                <label ng-hide="vm.oneormoreEksTest">Eksplicitte (spørgeskema) tests</label>
                <input ng-model="case.cprNumber" maxlength="10" minlength="10" ng-disabled="!editPatientData" name="cprNo" ng-disabled="true">
            </md-input-container>

            <md-button class="md-icon-button" ng-click="vm.viewButton2(vm.PROP_PSYC_LIBRARY_EXPLICIT)" ">
            <md-icon>edit</md-icon>
            </md-button>

        </div>

        <div layout="row">

            <md-input-container class="md-block" flex>
                <label ng-show="vm.oneormoreIndiMalering" class="oneormore" >Instrumenter for indikation på malingering</label>
                <label ng-hide="vm.oneormoreIndiMalering" >Instrumenter for indikation på malingering</label>
                <input ng-model="case.cprNumber" maxlength="10" minlength="10" ng-disabled="!editPatientData" name="cprNo" ng-disabled="true">
            </md-input-container>

            <md-button class="md-icon-button" ng-click="vm.viewButton2(vm.PROP_PSYC_LIBRARY_MALERING)" ">
            <md-icon>edit</md-icon>
            </md-button>

        </div>

        <div layout="row">

            <md-input-container class="md-block" flex>
                <label ng-show="vm.oneormoreRisikoVurdering" class="oneormore">Risikovurderingsinstrumenter</label>
                <label ng-hide="vm.oneormoreRisikoVurdering" >Risikovurderingsinstrumenter</label>

                <input ng-model="case.cprNumber" maxlength="10" minlength="10" ng-disabled="!editPatientData" name="cprNo" ng-disabled="true">
            </md-input-container>

            <md-button class="md-icon-button" ng-click="vm.viewButton2(vm.PROP_PSYC_LIBRARY_RISIKO)" ">
            <md-icon>edit</md-icon>
            </md-button>

        </div>
    </md-card-content>
</md-card>
