<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Stamdata</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <!--<md-input-container class="md-block">
            <label>Sagsnummer</label>
            <input ng-model="case.caseNumber" ng-disabled="!editPatientData">
        </md-input-container>-->
        <md-input-container class="md-block">
            <label>CPR</label>
            <input ng-model="case.cprNumber" maxlength="10" ng-disabled="!editPatientData" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Fornavne</label>
            <input ng-model="case.firstName" ng-disabled="!editPatientData" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Efternavn</label>
            <input ng-model="case.lastName" ng-disabled="!editPatientData" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Adresse</label>
            <input ng-model="case.address" ng-disabled="!editPatientData">
        </md-input-container>
        <div layout="row">
            <md-input-container flex="25">
                <label>Postnr.</label>
                <input ng-model="case.postbox" maxlength="4" ng-disabled="!editPatientData">
            </md-input-container>
            <md-input-container flex>
                <label>By</label>
                <input ng-model="case.city" ng-disabled="!editPatientData">
            </md-input-container>
        </div>

        <md-autocomplete flex 
            md-selected-item="case.ethnicity" 
            md-search-text="ethnicitySearch"
            md-items="ethnicity in dropdownFilter(dropdownOptions['ethnicity'],ethnicitySearch)" 
            md-item-text="ethnicity" 
            md-min-length="0" 
            md-floating-label="Etnicitet"
            ng-disabled="!editPatientData">
            <md-item-template>
                <span md-highlight-text="ethnicitySearch" md-highlight-flags="gi">{{ethnicity}}</span>
            </md-item-template>
        </md-autocomplete>

        <md-autocomplete flex 
            md-selected-item="case.motherEthnicity" 
            md-search-text="motherEthnicitySearch"
            md-items="ethnicity in dropdownFilter(dropdownOptions['ethnicity'],motherEthnicitySearch)" 
            md-item-text="ethnicity" 
            md-min-length="0" 
            md-floating-label="Mors etnicitet"
            ng-disabled="!editPatientData">
            <md-item-template>
                <span md-highlight-text="motherEthnicitySearch" md-highlight-flags="gi">{{ethnicity}}</span>
            </md-item-template>
        </md-autocomplete>

        <md-autocomplete flex 
            md-selected-item="case.fatherEthnicity" 
            md-search-text="fatherEthnicitySearch"
            md-items="ethnicity in dropdownFilter(dropdownOptions['ethnicity'],fatherEthnicitySearch)" 
            md-item-text="ethnicity" 
            md-min-length="0" 
            md-floating-label="Fars etnicitet"
            ng-disabled="!editPatientData">
            <md-item-template>
                <span md-highlight-text="fatherEthnicitySearch" md-highlight-flags="gi">{{ethnicity}}</span>
            </md-item-template>
        </md-autocomplete>

    </md-card-content>
</md-card>