<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Stamdata</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <!--<md-input-container class="md-block">
            <label>Sagsnummer</label>
            <input ng-model="case.caseNumber" ng-disabled="!editPatientData">
        </md-input-container>-->
        <md-input-container class="md-block">
            <label>CPR</label>
            <input ng-model="case.cprNumber"  ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Fornavne</label>
            <input ng-model="case.firstName" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Efternavn</label>
            <input ng-model="case.lastName" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Adresse</label>
            <input ng-model="case.address" ng-disabled="!editPatientData">
        </md-input-container>
        <div layout="row">
            <md-input-container flex="25">
                <label>Postnr.</label>
                <input ng-model="case.postbox" ng-pattern="/^[0-9]{4}$/" ng-disabled="!editPatientData">
            </md-input-container>
            <md-input-container flex>
                <label>By</label>
                <input ng-model="case.city" ng-disabled="!editPatientData">
            </md-input-container>
        </div>
        <md-input-container class="md-block">
            <label>Etnicitet</label>
            <input ng-model="case.ethnicity" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Mors etnicitet</label>
            <input ng-model="case.motherEthnicity" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Fars etnicitet</label>
            <input ng-model="case.fatherEthnicity" ng-disabled="!editPatientData">
        </md-input-container>
    </md-card-content>
</md-card>