<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Erklæring afgivet af</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block">
            <label>Læge</label>
            <input ng-model="case.petitionDate" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Psykolog</label>
            <input ng-model="case.petitionDate" ng-disabled="!editPatientData">
        </md-input-container>
    </md-card-content>
</md-card>