<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Anbefalet erklæring</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block">
            <label>Placering</label>
            <input ng-model="case.placement" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Sanktionsforslag</label>
            <input ng-model="case.sanctionProposal" ng-disabled="!editPatientData">
        </md-input-container>
        <p class="md-subhead">Afgivet af<br></p>
        <md-input-container class="md-block">
            <label>Læge</label>
            <input ng-model="case.doctor" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Psykolog</label>
            <input ng-model="case.psychologist" ng-disabled="!editPatientData">
        </md-input-container>
    </md-card-content>
</md-card>