<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Retslægeråd</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-radio-group ng-model="case.forensicDoctorCouncil">

            <md-radio-button value="Ikke forelagt">Ikke forelagt</md-radio-button>
            <md-radio-button value="Enig"> Enig </md-radio-button>
            <md-radio-button value="Uenig">Uenig</md-radio-button>

        </md-radio-group>
        <md-input-container class="md-block">
            <label>Tekst</label>
            <textarea ng-model="case.forensicDoctorCouncilText" rows="3" md-select-on-focus></textarea>
        </md-input-container>
    </md-card-content>
</md-card>