<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Etnicitet</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block">
            <label>Etnicitet</label>
            <input ng-model="case.ethnicity">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Mors etnicitet</label>
            <input ng-model="case.motherEthnicity">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Fars etnicitet</label>
            <input ng-model="case.fatherEthnicity">
        </md-input-container>
    </md-card-content>
</md-card>