<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Historik</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-autocomplete flex 
            md-selected-item="case.status" 
            md-search-text="statusSearch"
            md-items="status in dropdownFilter(dropdownOptions['status'],statusSearch,['displayName'])" 
            md-item-text="status.displayName" 
            md-min-length="0" 
            md-floating-label="Status"
            ng-disabled="!editPatientData">
            <md-item-template>
                <span md-highlight-text="statusSearch" md-highlight-flags="gi">{{status.displayName}}</span>
            </md-item-template>
        </md-autocomplete>
        <div layout="row">
            <md-input-container flex>
                <label>Sagen oprettet</label>
                <md-datepicker ng-model="case.creationDate" ng-disabled="!editPatientData"></md-datepicker>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Observation påbegyndt</label>
                <md-datepicker ng-model="case.observationDate" ng-disabled="!editPatientData"></md-datepicker>
            </md-input-container>
            <span style="float:right" ng-show="isNumber(passiveWait)">
                {{passiveWait}}
                <md-icon class="icon-small">
                    info_outline
                    <md-tooltip md-direction="top">Passiv ventetid</md-tooltip>
                </md-icon>
            </span>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Erklæring afgivet</label>
                <md-datepicker ng-model="case.declarationDate" ng-disabled="!editPatientData"></md-datepicker>
            </md-input-container>
            <span style="float:right" ng-show="isNumber(activeWait)">
                {{activeWait}}
                    <md-icon class="icon-small">
                        info_outline
                        <md-tooltip md-direction="top">Aktiv ventetid</md-tooltip>
                    </md-icon>
                </span>
        </div>
        <div layout="row">
            <span flex></span>
            <span ng-show="isNumber(totalWait)">
                <strong>{{totalWait}}</strong>
                    <md-icon class="icon-small">
                        info_outline
                        <md-tooltip md-direction="top">Samlet ventetid</md-tooltip>
                    </md-icon>
                </span>
        </div>

        <div layout="column">
            <span ng-show="case.closed == 'closed'">Afsluttet</span>
            <div ng-show="case.closed == 'no-declaration'">
                <span style="padding-top:16px" ng-show="case.hasOwnProperty('reason')">Afsluttet uden erklæring: {{case.reason}}</span><br>
                <span style="padding:16px 0" ng-show="case.hasOwnProperty('sentTo')">Sendt til: {{case.sentTo}}</span>
            </div>
        </div>
    </md-card-content>
</md-card>