<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">ICD-10 diagnose</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div>
        <md-autocomplete flex 
            md-selected-item="case.mainDiagnosis" 
            md-search-text="diagnosisSearch"
            md-items="diagnosis in propertyFilter(propertyValues['diagnosis'],diagnosisSearch)" 
            md-item-text="diagnosis" 
            md-min-length="0" 
            md-floating-label="Hoveddiagnose"
            ng-disabled="!editPatientData">
            <md-item-template>
                <span md-highlight-text="diagnosisSearch" md-highlight-flags="gi">{{diagnosis}}</span>
            </md-item-template>
        </md-autocomplete>
        <md-tooltip md-direction="top" md-delay="500" ng-if="case.mainDiagnosis != null">{{case.mainDiagnosis}}</md-tooltip>
        </div>

        <div ng-repeat="(index,bd) in case.biDiagnoses">
        <md-autocomplete flex 
            md-selected-item="case.biDiagnoses[index]" 
            md-search-text="bidiagnosisSearch[index]"
            md-items="bidiagnosis in propertyFilter(propertyValues['diagnosis'],bidiagnosisSearch[index])" 
            md-item-text="bidiagnosis" 
            md-min-length="0" 
            md-floating-label="Bidiagnose"
            ng-disabled="!editPatientData">
            <md-item-template>
                <span md-highlight-text="bidiagnosisSearch[index]" md-highlight-flags="gi">{{bidiagnosis}}</span>
            </md-item-template>
        </md-autocomplete>
        <md-tooltip md-direction="top" md-delay="500" ng-if="case.biDiagnoses[index] != null">{{case.biDiagnoses[index]}}</md-tooltip>
        </div>        
    </md-card-content>
    <md-card-actions layout="row">
        <span flex></span>
        <div>
            <md-button class="md-icon-button md-accent" ng-click="addNewBidiagnosis()" ng-disabled="!editPatientData || case.biDiagnoses.length==5">
                <md-icon>add</md-icon>
            </md-button>

            <md-tooltip md-direction="top" md-delay="500" ng-if="case.biDiagnoses.length==5">Du kan maks tilføje 5 bidagnoser</md-tooltip>
        </div>
    </md-card-actions>
</md-card>