<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">ICD-10 diagnose</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block">
            <label>Hoveddiagnose</label>
            <input ng-model="case.ethnicity" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Bidiagnoser</label>
            <input ng-model="case.ethnicity" ng-disabled="!editPatientData">
        </md-input-container>
    </md-card-content>
    <md-card-actions layout="row">
        <span flex></span>
        <md-button class="md-icon-button md-accent" ng-disabled="!editPatientData">
            <md-icon>add</md-icon>
        </md-button>
    </md-card-actions>
</md-card>