<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Retsligt udfald</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="column">


                <div>
        <md-autocomplete flex 
            md-selected-item="case.finalVerdict" 
            md-search-text="finalVerdictSearch"
            md-items="finalVerdict in propertyFilter(propertyValues['finalVerdict'],finalVerdictSearch)" 
            md-item-text="finalVerdict" 
            md-min-length="0" 
            md-floating-label="Endelig dom"
            ng-disabled="!editPatientData">
            <md-item-template>
                <span md-highlight-text="finalVerdictSearch" md-highlight-flags="gi">{{finalVerdict}}</span>
            </md-item-template>
        </md-autocomplete>
        <md-tooltip md-direction="top" md-delay="500" ng-if="case.finalVerdict != null">{{case.finalVerdict}}</md-tooltip>
        </div>
                <md-input-container class="md-block">
                    <label>Dom</label>
                    <textarea class="textarea-highlight" ng-model="case.verdict" rows="10" md-select-on-focus ng-disabled="!editPatientData"></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Bemærkninger</label>
                    <textarea class="textarea-highlight" ng-model="case.remarks" rows="8" md-select-on-focus ng-disabled="!editPatientData"></textarea>
                </md-input-container>
        </div>
    </md-card-content>
</md-card>