<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Dom</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block">
            <label>Endelig dom</label>
            <input ng-model="case.finalVerdict">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Dom</label>
            <textarea ng-model="case.verdict" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Bemærkninger</label>
            <textarea ng-model="case.remarks" rows="3" md-select-on-focus></textarea>
        </md-input-container>
    </md-card-content>
</md-card>