<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Henvisning</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block">
            <label>Henvisende instans</label>
            <input ng-model="case.referingAgency" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Hovedsigtelse</label>
            <input ng-model="case.mainCharge" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Placering</label>
            <input ng-model="case.placement" ng-disabled="!editPatientData">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Sanktionsforslag</label>
            <input ng-model="case.sanctionProposal" ng-disabled="!editPatientData">
        </md-input-container>
    </md-card-content>
</md-card>