/**
 * SASS constants
 */

//$main-color: rgb(63, 81, 181);
// Main color. We use lighten() and darken() to make variations of this color
$black: #000;
$white: #fff;

$gray-90: #eee;
$gray-85: #ddd;
$gray-80: #ccc;
$gray-60: #999;
$gray-40: #666;
$gray-20: #333;

$rm-primary: rgb(153, 0, 51);
//$primary-color: rgb(63, 81, 181);
$primary-color: $rm-primary;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: rgb(255, 215, 89);
$secondary-color-light: lighten($secondary-color, 15%);
$secondary-color-dark: darken($secondary-color, 15%);

$primary-text-color: rgba($black, .87);
$secondary-text-color: $white;
$gray-text-color: rgba($black, .38);
$dark-gray-text-color: rgba($black, .54);

$headline-color: $white;

$overlay: rgba($black, .4);
$card-shadow: rgba($black, .2);

$u: 16px;
// Unit of measurement - usually default font size
$br-sm-md: $u * 40;
// Breakpoint between small and medium screens

/**
 * Element level (atom) styles
 */

a {
  &,
  &:link,
  &:visited {
    color: $gray-text-color;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $dark-gray-text-color;
    text-decoration: underline;
  }
}

body {
  color: $primary-text-color;
}

img {
  height: auto;
  width: 100%;
}

/*
 * Molecule level styles
 */

.od-app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.od-body {
  margin: $u * 8 0 auto;
  z-index: 1;
}

.md-icon--large {
  font-size: $u * 6 !important;
  height: $u * 6;
}

.md-text-icon-button {
  padding-right: $u;
}

/*
 * General media queries 
 */

md-list-item, md-list-item .md-list-item-inner {
  min-height: 20px;
  height: 25px;
}

//fix position of x for autocompletes
md-autocomplete[md-floating-label] .md-show-clear-button button {
  top: 0;
}

md-toolbar {
  background-color: $primary-color !important;
}

.rm-logo {
  bottom: 0;
  left: 53px;
  position: fixed;
  width: 144px;
  z-index: 1;
}

.md-autocomplete-suggestions {
  li {
    color: rgb(117,117,117);
  }
}
.highlight {
  color: $black !important;
  font-weight: 900;
}

.md-datepicker-input-container {
    width: calc(100% - 64px) !important;
}

.list-edit {
    width: $u;
    border: none;
    outline: none;
}

.clickable {
  cursor: pointer;
}

.md-button-active {
  background-color: #e2e2e2;
}

//hide arrow on date picker
.md-datepicker-triangle-button {
  display: none;
}

.md-datepicker-calendar {
  width: 100px !important;
}

.md-input-container {
  display: inline-block;
  margin: 1em 0;
  padding: 2px;
  position: relative;
  vertical-align: middle;

  &.md-block {
    display: block;
  }
}

// Avoid the first label in form will touch toolbar in login
md-toolbar + md-card-content > form {
  margin-top: 1rem;
}

// Main navigation list
.nav-list {
  list-style: none;
  margin: 8px;
  padding: 0;

  .material-icons {
    margin-right: 0.5em;
  }

  &__link {
    display: block;
    line-height: 24px;
    padding: 0.5em;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;

    &:focus {
      background-color: rgba(0, 0, 0, 0.05);
      text-decoration: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      text-decoration: none;
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.md-tooltip,
.tt-multiline {
  line-height: 1.3;
  padding: 1em;

  ol {
    list-style-position: inside;
    padding-left: 1em;
  }
}

md-sidenav {
  left: 0;
  max-width: 240px;
  min-height: calc(100vh - 128px);
  position: fixed !important;
  top: 128px !important;
  width: 250px;

  .md-button {
    display: inline-block;
    margin: 0;
    text-align: left;
    width: 100%;
  }
}