.od-filebrowser-link {
    color: $gray-text-color;
    display: block;
    width: 100%;
    .material-icons {
        margin-top: -($u * .25);
        vertical-align: middle;
    }
    h3,
    i,
    .content-name {
        color: $primary-text-color;
        line-height: 0;
        padding: 0;
    }
}

.od-secondary {
    color: $dark-gray-text-color;
}

.od-secondary-small {
    font-size: $u * .75;
    margin: 0;
}

.sort-head {
    padding-top: 0;
}

.od-members {
    width: 99%;
    td {
        max-width: 0;
        .overflow {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 85%;
        }
    }
    th {
        color: $dark-gray-text-color;
        cursor: pointer;
        padding: 10px 0 5px;
        text-align: left;
        .material-icons {
            font-size: 15px;
        }
    }
    tr {
        td {
            &:last-child {
                text-align: right;
                button {
                    margin: 0;
                }
            }
        }
    }
    .material-icons {
        font-size: $u * 1.5;
    }
    .icon {
        width: $u * 2;
    }
    .description-label {
        padding-right: 10px;
    }
}

.od-members-row {
    border-collapse: collapse;
    tr {
        td {
            padding-bottom: 2px;
            padding-top: 2px;
        }
    }
    tbody {
        tr {
            &:hover {
                background-color: $gray-90;
            }
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
}