<header class="od-header">
    <md-toolbar class="md-tall">
        <span class="md-toolbar-tools" ng-if="vm.loggedIn" flex>
            <h2 ui-sref="declaration" style="cursor:pointer;font-variant:small-caps">
                <strong>O</strong>bservand
                <strong>DA</strong>tabase</h2>
            <span flex></span>
            <div>
                <div>
                    <h2 class="od-user-name">{{ vm.getUserName() }}</h2>

                    <md-button class="md-icon-button" title="Dokumenter" ui-sref="shared-documents">
                        <md-icon>insert_drive_file</md-icon>
                        <md-tooltip md-delay="500" md-direction="bottom">Dokumenter</md-tooltip>
                    </md-button>

                    <md-button ng-if="vm.canAccessSettings()" class="md-icon-button" title="Indstillinger" ui-sref="administration">
                        <md-icon>settings</md-icon>
                        <md-tooltip md-delay="500" md-direction="bottom">Indstillinger</md-tooltip>
                    </md-button>

                    <md-button ng-click="vm.logout()">
                        {{ 'MENU.LOGOUT' | translate }}
                    </md-button>
                </div>
            </div>
        </span>
        <span class="md-toolbar-tools" layout="row">
            <a ui-sref="declaration.show({caseid: vm.caseId})" style="color:white">
                <h2>{{vm.title}}</h2>
            </a>
            <span flex></span>
            <h2 ng-if="vm.isClosed">
                <md-icon>done</md-icon> {{'DECLARATION.DECLARATION_CLOSED' | translate}}
            </h2>
            <div ng-repeat="action in vm.actions" ng-mouseover="action.showTooltip=true" ng-mouseleave="action.showTooltip=false">
                <md-button ng-click="action.action()" ng-class="action.primary ? 'md-raised md-primary md-hue-2' : ''">
                    <md-icon>{{action.icon}}</md-icon>
                    <span>{{action.label | translate}}</span>
                </md-button>
                <md-tooltip class="tt-multiline" ng-if="action.settings.tooltip" md-visible="action.showTooltip"
                    md-autohide>
                    Følgende felter mangler at blive udfyldt:<br>
                    <span ng-repeat="missing in action.settings.tooltip">{{'DECLARATION.'+missing | translate}}<br></span>
                </md-tooltip>
            </div>
        </span>
    </md-toolbar>
</header>


