.od-header {
  background-color: $primary-color;
  color: $headline-color;
  height: $u * 3;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  h2 {
    display: inline-block;
  }
}

md-tooltip .md-content {
  height: auto !important;
  max-width: 200px !important;
}

md-tooltip {
  height: auto !important;
  max-width: 200px !important;
  overflow: visible !important;
  white-space: normal !important;
}

md-tooltip ._md-content {
  height: auto !important;
  max-width: 200px !important;
}
