<md-card>
  <md-card-content>
    <md-table-container>
      <table md-table>
        <thead md-head md-order="query.order">
          <tr md-row>
            <th md-column style="width:50px"></th>
            <th md-column md-order-by="title">{{listTitle}}</th>
          </tr>
        </thead>
        <tbody md-body>

        <tr md-row ng-repeat="content in listContent | orderBy: query.order">
            <td md-cell>
              <md-checkbox aria-label="{{content.title}}" ng-model="content.selected"></md-checkbox>
            </td>
            <td md-cell ng-click="renameDialog(content)" class="clickable">
              <md-icon class="list-edit" style="height: 16px; width: 16px; min-height: 16px; min-width: 16px; font-size: 16px;">edit</md-icon> {{content.title}}
            </td>
          </tr>

        </tbody>
      </table>
    </md-table-container>
  </md-card-content>
</md-card>
