<section class="od-user" ng-controller="UserController as vm">
    <div ng-controller="AuthController as ac">
        <div class="od-user-header-menu">
            <h2 class="od-user-name">
                <!--ng-class="ac.getUserInfo().user.capabilities.isAdmin ? 'od-user-admin' : ''"  -->
                {{ ac.getUserInfo().user.firstName }} {{ ac.getUserInfo().user.lastName }}
            </h2>

            <md-button 
                ng-if="ac.userRoles.indexOf('SiteManager') > -1 || ac.userRoles.indexOf('SiteRoleManager') > -1 || ac.userRoles.indexOf('SitePropertyValueManager') > -1"
                class="md-icon-button od-btn "
                title="Indstillinger" 
                ui-sref="administration.systemsettings">
                <md-icon>settings</md-icon>
            </md-button>

            <md-button ng-click="ac.logout()">
                {{ 'MENU.LOGOUT' | translate }}
            </md-button>
        </div>
    </div>
</section>