<div layout="row" layout-align="center center" ng-show="!showResults">
    <div layout="column" flex="50">
        <div layout="column">
            <div style="height:50px">
            </div>
        </div>
        <span class="md-title">Vis alle sager med:</span>
        <br>
        <div layout="row">
            <div layout="column" flex="45">
                <div layout="column">
                <div>
                    <md-autocomplete 
                        md-selected-item="searchParams.mainCharge" 
                        md-search-text="mainChargeSearch" 
                        md-items="mainCarge in propertyFilter(propertyValues['mainCharge'],mainChargeSearch)"
                        md-item-text="mainCarge" 
                        md-min-length="0" 
                        md-floating-label="Hovedsigtelse"
                        md-require-match="true"
                        md-clear-button="true">
                        <md-item-template>
                            <span md-highlight-text="mainChargeSearch" md-highlight-flags="gi">{{mainCarge}}</span>
                        </md-item-template>
                    </md-autocomplete>
                    <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.mainCharge != null">{{searchParams.mainCharge}}</md-tooltip>
                </div>

                <div>
                    <md-autocomplete 
                    md-selected-item="searchParams.sanctionProposal" 
                    md-search-text="sanctionProposalSearch" 
                    md-items="sanctionProposal in propertyFilter(propertyValues['sanctionProposal'],sanctionProposalSearch)"
                    md-item-text="sanctionProposal" 
                    md-min-length="0" 
                    md-floating-label="Sanktionsforslag"
                    md-require-match="true"
                    md-clear-button="true">
                        <md-item-template>
                            <span md-highlight-text="sanctionProposalSearch" md-highlight-flags="gi">{{sanctionProposal}}</span>
                        </md-item-template>
                    </md-autocomplete>

                    <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.sanctionProposal != null">{{searchParams.sanctionProposal}}</md-tooltip>
                </div>

                <div layout="row" flex="45">
                    <md-input-container>
                        <label>Ventetid</label>
                        <md-select ng-model="searchParams.waitingTime.time">
                            <md-option value="passive">
                                Passiv ventetid
                            </md-option>
                            <md-option value="active">
                                Aktiv ventetid
                            </md-option>
                            <md-option value="total">
                                Samlet ventetid
                            </md-option>
                            <md-option value=""></md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex-offset="5">
                        <md-select ng-model="searchParams.waitingTime.modifier" aria-label="modifier">
                            <md-option value="over">
                                Over
                            </md-option>
                            <md-option value="under">
                                Under
                            </md-option>
                            <md-option value="equal">
                                Lig med
                            </md-option>
                            <md-option value=""></md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex-offset="5">
                        <input ng-model="searchParams.waitingTime.days" size="4" aria-label="antal dage">
                    </md-input-container>
                    dage
                </div>

                <div flex="45" layout="row">
                    <md-input-container>
                        <label>Fra</label>
                        <md-datepicker ng-model="searchParams.fromDate"></md-datepicker>
                    </md-input-container>
                    <md-input-container>
                        <label>Til</label>
                        <md-datepicker ng-model="searchParams.toDate"></md-datepicker>
                    </md-input-container>
                </div>
                
                <md-input-container>
                        <label>Sagsstatus</label>
                        <md-select ng-model="searchParams.closed">
                            <md-option ng-value="true" selected>
                                Afsluttet
                            </md-option>
                            <md-option ng-value="false">
                                Ikke afsluttet
                            </md-option>
                            <md-option ng-value="undefined">
                                Alle
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <div layout="column" flex="45" flex-offset="10">
                <div flex>
                    <md-autocomplete 
                        md-selected-item="searchParams.placement" 
                        md-search-text="placementSearch" 
                        md-items="placement in propertyFilter(propertyValues['placement'],placementSearch)"
                        md-item-text="placement" 
                        md-min-length="0" 
                        md-floating-label="Placering"
                        md-require-match="true"
                        md-clear-button="true">
                        <md-item-template>
                            <span md-highlight-text="placementSearch" md-highlight-flags="gi">{{placement}}</span>
                        </md-item-template>
                    </md-autocomplete>
                    <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.placement != null">{{searchParams.placement}}</md-tooltip>
                </div>

                <div flex>
                    <md-autocomplete 
                        md-selected-item="searchParams.mainDiagnosis" 
                        md-search-text="diagnosisSearch" 
                        md-items="diagnosis in propertyFilter(propertyValues['diagnosis'],diagnosisSearch)"
                        md-item-text="diagnosis" 
                        md-min-length="0" 
                        md-floating-label="Hoveddiagnose"
                        md-require-match="true"
                        md-clear-button="true">
                        <md-item-template>
                            <span md-highlight-text="diagnosisSearch" md-highlight-flags="gi">{{diagnosis}}</span>
                        </md-item-template>
                    </md-autocomplete>

                    <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.placement != null">{{searchParams.placement}}</md-tooltip>
                </div>

                <md-autocomplete 
                    md-selected-item="searchParams.status" 
                    md-search-text="statusSearch" 
                    md-items="status in propertyFilter(propertyValues['status'],statusSearch)"
                    md-item-text="status" 
                    md-min-length="0" 
                    md-floating-label="Retslig status"
                    md-require-match="true"
                    md-clear-button="true">
                    <md-item-template>
                        <span md-highlight-text="statusSearch" md-highlight-flags="gi">{{status}}</span>
                    </md-item-template>
                </md-autocomplete>
                
                <div layout="column">
                    <md-checkbox ng-model="searchParams.psychEval" ng-change="searchParams.psychologist = ''">
                        Psykologisk undersøgelse
                    </md-checkbox>

                    <md-autocomplete flex 
                        ng-show="searchParams.psychEval"
                        md-selected-item="searchParams.psychologist" 
                        md-search-text="psychSearch"
                        md-items="psychologist in propertyFilter(propertyValues['psychologist'],psychSearch)" 
                        md-item-text="psychologist" 
                        md-min-length="0" 
                        md-floating-label="Psykolog"
                        md-require-match="true"
                        md-clear-button="true">
                        <md-item-template>
                            <span md-highlight-text="psychSearch" md-highlight-flags="gi">{{psychologist}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>


                <div layout="column">
                    <md-checkbox ng-model="searchParams.givenDeclaration" ng-change="searchParams.doctor = ''">
                        Erklæring afgivet
                    </md-checkbox>

                    <md-autocomplete flex 
                        ng-show="searchParams.givenDeclaration"
                        md-selected-item="searchParams.doctor" 
                        md-search-text="doctorSearch"
                        md-items="doctor in propertyFilter(propertyValues['doctor'],doctorSearch)" 
                        md-item-text="doctor" 
                        md-min-length="0" 
                        md-floating-label="Læge"
                        md-require-match="true"
                        md-clear-button="true">
                        <md-item-template>
                            <span md-highlight-text="doctorSearch" md-highlight-flags="gi">{{doctor}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>

                <div layout="column">
                    <md-checkbox ng-model="searchParams.socialEval" ng-change="searchParams.socialworker = ''">
                        Levnedsbeskrivelse
                    </md-checkbox>

                    <md-autocomplete flex 
                    ng-show="searchParams.socialEval"
                    md-selected-item="searchParams.socialworker" 
                    md-search-text="socialworkerSearch"
                    md-items="socialworker in propertyFilter(propertyValues['socialworker'],socialworkerSearch)" 
                    md-item-text="socialworker" 
                    md-min-length="0" 
                    md-floating-label="Socialrådgiver"
                    md-require-match="true"
                    md-clear-button="true">
                    <md-item-template>
                        <span md-highlight-text="socialworkerSearch" md-highlight-flags="gi">{{socialworker}}</span>
                    </md-item-template>
                </md-autocomplete>
                </div>

                <div layout="column">
                    <md-checkbox ng-model="searchParams.noDeclaration" ng-change="searchParams.closedWithoutDeclarationReason = ''">
                        Afsluttet uden erklæring
                    </md-checkbox>

                    <md-autocomplete flex 
                    ng-show="searchParams.noDeclaration"
                    md-selected-item="searchParams.closedWithoutDeclarationReason" 
                    md-search-text="reasonSearch"
                    md-items="reason in propertyFilter(propertyValues['noDeclarationReason'],reasonSearch)" 
                    md-item-text="reason" 
                    md-min-length="0" 
                    md-floating-label="Årsag"
                    md-require-match="true"
                    md-clear-button="true">
                    <md-item-template>
                        <span md-highlight-text="reasonSearch" md-highlight-flags="gi">{{reason}}</span>
                    </md-item-template>
                </md-autocomplete>
                </div>
                
            </div>
        </div>

        <md-button ng-click="vm.advancedSearch(0, 25, searchParams); vm.toggleResults()">
            Søg
        </md-button>
    </div>
</div>


<md-card ng-show="showResults">
    <md-card-title>
        <md-button ng-click="vm.toggleResults(); vm.clearResults()">Ret søgning</md-button>
        <span flex></span>
        <div layout="row" layout-align="center center">
            <div>Antal: <span class="md-body-2">{{vm.totalResults}}</span></div>
        </div>
    </md-card-title>
    <md-card-content>
            <md-progress-linear md-mode="indeterminate" ng-show="vm.isLoading"></md-progress-linear>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-numeric md-order-by="caseNumber">Sagsnummer</th>
                        <th md-column md-order-by="fullName">Navn</th>
                        <th md-column md-numeric md-order-by="cprNumber">CPR</th>
                        <th md-column md-order-by="doctor">Læge</th>
                        <th md-column md-order-by="closed">Erklæring afgivet</th>
                        <th md-column md-order-by="psychologist">Psykologisk undersøgelse</th>
                    </tr>
                </thead>
                <tbody md-body ng-if="vm.searchResults.length === 0">
                    <td md-cell colspan="13" style="text-align:center">Ingen erklæringer passer på din søgning</td>
                </tbody>
                <tbody md-body ng-repeat="case in vm.searchResults | orderBy : query.order ">
                    <tr md-row ng-click="vm.gotoCase(case.caseNumber)">
                        <td md-cell>{{case.caseNumber}}</td>
                        <td md-cell>{{case.fullName}}</td>
                        <td md-cell>{{case.cprNumber}}</td>
                        <td md-cell>{{case.doctor}}</td>
                        <td md-cell>
                            <span ng-if="!case.closed && case.declarationDate">Afgivet, mangler afslutning</span>
                            <span ng-if="case.closed && !case.closedWithoutDeclaration">Afsluttet</span>
                            <span ng-if="case.closedWithoutDeclaration">
                                Afsluttet uden erklæring: {{case.closedWithoutDeclarationReason}}<br>
                                Sendt til: {{case.closedWithoutDeclarationSentTo}}
                            </span>
                        </td>
                        <td md-cell>{{case.psychologist}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <div layout="row" layout-align="center center" ng-if="vm.next < vm.totalResults">
                <md-button flex ng-click="vm.nextPage()">
                    Vis flere
                </md-button>
            </div>
    </md-card-content>
</md-card>