<div layout="row" layout-align="center center" ng-show="!showResults">
        <div layout="column" flex="75" style="margin-top: 50px;">
            <h1 class="md-title">Vis alle sager med:</h1>

            <div layout="row">
                <div flex>
                    <md-card flex>
                        <md-card-content>

                            <h4 style="margin-top: 0;">Sagen oprettet:</h4>
                            <div layout-gt-sm="row" class="layout-gt-sm-row">
                                <md-input-container>
                                    <label>Fra</label>
                                    <md-datepicker ng-model="searchParams.createdFromDate"></md-datepicker>
                                </md-input-container>
                                <md-input-container>
                                    <label>Til</label>
                                    <md-datepicker ng-model="searchParams.createdToDate"></md-datepicker>
                                </md-input-container>
                            </div>

                            <div>
                            <md-chips ng-model="searchParams.mainCharge"
                                      md-autocomplete-snap
                                      md-transform-chip="vm.transformChip($chip)"
                                      input-aria-label="Hovedsigtelse"
                                      md-require-match="true">
                              <md-autocomplete
                                  md-selected-item="vm.selectedCharge"
                                  md-search-text="mainChargeSearch"
                                  md-items="mainCarge in propertyFilter(propertyValues['mainCharge'],mainChargeSearch)"
                                  md-item-text="mainCarge"
                                  md-min-length="0"
                                  md-floating-label="Hovedsigtelse">

                                    <span md-highlight-text="mainChargeSearch" md-highlight-flags="gi">{{mainCarge}}</span>
                              </md-autocomplete>
                              <md-chip-template>
                                {{ $chip }}
                              </md-chip-template>
                            </md-chips>
                            <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.mainCharge != null">{{searchParams.mainCharge.join(', ')}}</md-tooltip>
                            </div>

                            <div>
                            <md-chips ng-model="searchParams.mainDiagnosis"
                                      md-transform-chip="vm.ChipHD($chip)"
                                      input-aria-label="Hoveddiagnose"
                                      md-require-match="true">
                                <md-autocomplete
                                        md-selected-item="vm.selectedDiagnosis"
                                        md-search-text="diagnosisSearch"
                                        md-items="diagnosis in propertyFilter(propertyValues['diagnosis'],diagnosisSearch)"
                                        md-item-text="mainDiagnosis"
                                        md-min-length="0"
                                        md-floating-label="Hoveddiagnose"
                                        md-require-match="true"
                                        md-clear-button="true">
                                    <md-item-template>
                                        <span md-highlight-text="mainDiagnosisSearch" md-highlight-flags="gi">{{diagnosis}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                                <md-chip-template>
                                    {{ $chip }}
                                </md-chip-template>
                            </md-chips>
                            <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.mainDiagnosis != null">{{searchParams.mainDiagnosis.join(', ')}}</md-tooltip>
                            </div>



                            <md-input-container class="md-block"><x></x>
                                <label>Sagsstatus</label>
                                <md-select ng-model="searchParams.closed">
                                    <md-option ng-value="'CLOSED'" >Afsluttet</md-option>
                                    <md-option ng-value="'OPEN'" >Ikke afsluttet</md-option>
                                    <md-option ng-value="undefined">Alle</md-option>
                                </md-select>
                            </md-input-container>

                        <div>
                        <md-chips ng-model="searchParams.placement"
                                  md-transform-chip="vm.ChipMD($chip)"
                                  input-aria-label="Placering"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedPlacement"
                                md-search-text="placementSearch"
                                md-items="placement in propertyFilter(propertyValues['placement'],placementSearch)"
                                md-item-text="placement"
                                md-min-length="0"
                                md-floating-label="Placering"
                                md-require-match="true"
                                md-clear-button="true">
                            <md-item-template>
                                <span md-highlight-text="placementSearch" md-highlight-flags="gi">{{placement}}</span>
                            </md-item-template>
                            </md-autocomplete>
                            <md-chip-template>
                                {{ $chip }}
                            </md-chip-template>
                        </md-chips>
                            <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.placement != null">{{searchParams.placement.join(', ')}}</md-tooltip>
                        </div>

                        <div>
                        <md-chips ng-model="searchParams.sanctionProposal"
                                  md-transform-chip="vm.ChipSP($chip)"
                                  input-aria-label="Sanktionsforslag"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedSanctionProposal"
                                md-search-text="sanctionProposalSearch"
                                md-items="sanctionProposal in propertyFilter(propertyValues['sanctionProposal'],sanctionProposalSearch)"
                                md-item-text="sanctionProposal"
                                md-min-length="0"
                                md-floating-label="Sanktionsforslag"
                                md-require-match="true"
                                md-clear-button="true">
                                <md-item-template>
                                    <span md-highlight-text="sanctionProposalSearch" md-highlight-flags="gi">{{sanctionProposal}}</span>
                                </md-item-template>
                            </md-autocomplete>
                            <md-chip-template>
                                {{ $chip }}
                            </md-chip-template>
                        </md-chips>
                            <md-tooltip md-direction="top" md-delay="500" ng-if="searchParams.sanctionProposal != null">{{searchParams.sanctionProposal.join(', ')}}</md-tooltip>
                            </div>

                            <div layout-gt-sm="row" class="layout-gt-sm-row">
                                <md-input-container>
                                    <label>Ventetid</label>
                                    <md-select ng-model="searchParams.waitingTime.time">
                                        <md-option value="passive">Passiv ventetid</md-option>
                                        <md-option value="active">Aktiv ventetid</md-option>
                                        <md-option value="total">Samlet ventetid</md-option>
                                        <md-option value=""></md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container>
                                    <md-select ng-model="searchParams.waitingTime.modifier" aria-label="modifier">
                                        <md-option value="over">Over</md-option>
                                        <md-option value="under">Under</md-option>
                                        <md-option value="equal">Lig med</md-option>
                                        <md-option value=""></md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container>
                                    <input ng-model="searchParams.waitingTime.days" size="4" aria-label="antal dage">
                                </md-input-container>

                                <md-input-container>
                                    <label for="x" class="md-no-float md-container-ignore">Dage</label>
                                </md-input-container>

                            </div>

                            <div>
                            <md-chips ng-model="searchParams.status"
                                      md-transform-chip="vm.ChipSTATUS($chip)"
                                      input-aria-label="Sanktionsforslag"
                                      md-require-match="true">
                                <md-autocomplete
                                    md-selected-item="vm.selectedStatus"
                                    md-search-text="statusSearch"
                                    md-items="status in propertyFilter(propertyValues['status'],statusSearch)"
                                    md-item-text="status"
                                    md-min-length="0"
                                    md-floating-label="Retslig status"
                                    md-require-match="true"
                                    md-clear-button="true">
                                    <md-item-template>
                                        <span md-highlight-text="statusSearch" md-highlight-flags="gi">{{status}}</span>
                                    </md-item-template>
                                </md-autocomplete>

                                <md-chip-template>
                                    {{ $chip }}
                                </md-chip-template>

                            </md-chips>
                            </div>


                            <md-input-container class="md-block">
                                <label>Type</label>
                                <md-select ng-model="searchParams.bua">
                                    <md-option ng-value="'PS'" >PS</md-option>
                                    <md-option ng-value="'BUA'" >BUA</md-option>
                                    <md-option ng-value="undefined">Alle</md-option>
                                </md-select>
                            </md-input-container>
                        </md-card-content>

                    </md-card>
                </div>
                <div flex>
                    <md-card flex>
                        <md-card-content>

                            <!--<h4 style="margin-top: 0;">Erklæring:</h4>-->



                            <div class="md-input-container md-block">
                                <md-checkbox ng-model="searchParams.evalAll" ng-change="vm.evalAll()">Erklæring</md-checkbox>


                                <div>
                                    <md-chips ng-model="searchParams.psychologist"
                                              md-transform-chip="vm.ChipPSYC($chip)"
                                              input-aria-label="Psykolog"
                                              md-require-match="true">
                                        <md-autocomplete flex
                                                 ng-show="searchParams.evalAll"
                                                 md-selected-item="vm.selectedPSYC"
                                                 md-search-text="psychSearch"
                                                 md-items="psychologist in propertyFilter(propertyValues['psychologist'],psychSearch)"
                                                 md-item-text="psychologist"
                                                 md-min-length="0"
                                                 md-floating-label="Psykolog"
                                                 md-require-match="true"
                                                 md-clear-button="true">
                                    <md-item-template>
                                        <span md-highlight-text="psychSearch" md-highlight-flags="gi">{{psychologist}}</span>
                                    </md-item-template>
                                </md-autocomplete>

                                <md-chip-template>
                                    {{ $chip }}
                                </md-chip-template>



                            </md-chips>
                        </div>

                                <div>
                                <md-chips ng-model="searchParams.doctor"
                                          md-transform-chip="vm.ChipDOCTOR($chip)"
                                          input-aria-label="Læge"
                                          md-require-match="true">
                                    <md-autocomplete flex
                                                     ng-show="searchParams.evalAll"
                                                     md-selected-item="vm.selectedDoctor"
                                                     md-search-text="doctorSearch"
                                                     md-items="doctor in propertyFilter(propertyValues['doctor'],doctorSearch)"
                                                     md-item-text="doctor"
                                                     md-min-length="0"
                                                     md-floating-label="Læge"
                                                     md-require-match="true"
                                                     md-clear-button="true">
                                        <md-item-template>
                                            <span md-highlight-text="doctorSearch" md-highlight-flags="gi">{{doctor}}</span>
                                        </md-item-template>
                                    </md-autocomplete>


                                    <md-chip-template>
                                        {{ $chip }}
                                    </md-chip-template>



                                </md-chips>
                                </div>

                                <div>
                                    <md-chips ng-model="searchParams.supervisingDoctor"
                                              md-transform-chip="vm.ChipSUPERVISOR($chip)"
                                              input-aria-label="Tiltrædes af læge"
                                              md-require-match="true">
                                        <md-autocomplete flex
                                                 ng-show="searchParams.evalAll"
                                                 md-selected-item="vm.selectedSUPERVISOR"
                                                 md-search-text="supervisingDoctorSearch"
                                                 md-items="doctor in propertyFilter(propertyValues['doctor'],supervisingDoctorSearch)"
                                                 md-item-text="doctor"
                                                 md-min-length="0"
                                                 md-floating-label="Tiltrædes af læge"
                                                 md-require-match="true"
                                                 md-clear-button="true">
                                    <md-item-template>
                                        <span md-highlight-text="supervisingDoctorSearch" md-highlight-flags="gi">{{doctor}}</span>
                                    </md-item-template>
                                </md-autocomplete>

                                        <md-chip-template>
                                            {{ $chip }}
                                        </md-chip-template>

                                    </md-chips>
                                </div>

                                <div>
                                    <md-chips ng-model="searchParams.socialworker"
                                              md-transform-chip="vm.ChipSOCIAL($chip)"
                                              input-aria-label="Socialrådgiver"
                                              md-require-match="true">
                                        <md-autocomplete flex
                                                 ng-show="searchParams.evalAll"
                                                 md-selected-item="vm.selectedSOCIAL"
                                                 md-search-text="socialworkerSearch"
                                                 md-items="socialworker in propertyFilter(propertyValues['socialworker'],socialworkerSearch)"
                                                 md-item-text="socialworker"
                                                 md-min-length="0"
                                                 md-floating-label="Socialrådgiver"
                                                 md-require-match="true"
                                                 md-clear-button="true">
                                    <md-item-template>
                                        <span md-highlight-text="socialworkerSearch" md-highlight-flags="gi">{{socialworker}}</span>
                                    </md-item-template>
                                        </md-autocomplete>

                                        <md-chip-template>
                                            {{ $chip }}
                                        </md-chip-template>

                                    </md-chips>
                                </div>

                                <div layout-gt-sm="row" class="layout-gt-sm-row" ng-show="searchParams.evalAll">
                                    <md-input-container>
                                        <label>Fra</label>
                                        <md-datepicker ng-model="searchParams.declarationFromDate"></md-datepicker>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Til</label>
                                        <md-datepicker ng-model="searchParams.declarationToDate"></md-datepicker>
                                    </md-input-container>
                                </div>

                            </div>





    <!---->
                            <!--<div class="md-input-container md-block">-->
                                <!--<md-checkbox ng-model="searchParams.givenDeclaration" ng-change="vm.givenDeclaration()">Erklæring afgivet</md-checkbox>-->
                                <!--<md-autocomplete flex -->
                                    <!--ng-show="searchParams.givenDeclaration"-->
                                    <!--md-selected-item="searchParams.doctor" -->
                                    <!--md-search-text="doctorSearch"-->
                                    <!--md-items="doctor in propertyFilter(propertyValues['doctor'],doctorSearch)" -->
                                    <!--md-item-text="doctor" -->
                                    <!--md-min-length="0" -->
                                    <!--md-floating-label="Læge"-->
                                    <!--md-require-match="true"-->
                                    <!--md-clear-button="true">-->
                                    <!--<md-item-template>-->
                                        <!--<span md-highlight-text="doctorSearch" md-highlight-flags="gi">{{doctor}}</span>-->
                                    <!--</md-item-template>-->
                                <!--</md-autocomplete>-->
                            <!--</div>-->
    <!---->
                            <!--<div class="md-input-container md-block">-->
                                <!--<md-checkbox ng-model="searchParams.socialEval" ng-change="vm.socialEval()">Levnedsbeskrivelse</md-checkbox>-->
                                <!--<md-autocomplete flex -->
                                    <!--ng-show="searchParams.socialEval"-->
                                    <!--md-selected-item="searchParams.socialworker" -->
                                    <!--md-search-text="socialworkerSearch"-->
                                    <!--md-items="socialworker in propertyFilter(propertyValues['socialworker'],socialworkerSearch)" -->
                                    <!--md-item-text="socialworker" -->
                                    <!--md-min-length="0" -->
                                    <!--md-floating-label="Socialrådgiver"-->
                                    <!--md-require-match="true"-->
                                    <!--md-clear-button="true">-->
                                    <!--<md-item-template>-->
                                        <!--<span md-highlight-text="socialworkerSearch" md-highlight-flags="gi">{{socialworker}}</span>-->
                                    <!--</md-item-template>-->
                                <!--</md-autocomplete>-->
                            <!--</div>-->

                            <div class="md-input-container md-block">
                                <md-checkbox ng-model="searchParams.noDeclaration" ng-change="vm.noDeclaration()">Afsluttet uden erklæring</md-checkbox>

                                <md-autocomplete flex
                                    ng-show="searchParams.noDeclaration"
                                    md-selected-item="searchParams.closedWithoutDeclarationReason"
                                    md-search-text="reasonSearch"
                                    md-items="reason in propertyFilter(propertyValues['noDeclarationReason'],reasonSearch)"
                                    md-item-text="reason"
                                    md-min-length="0"
                                    md-floating-label="Årsag"
                                    md-require-match="true"
                                    md-clear-button="true">
                                    <md-item-template>
                                        <span md-highlight-text="reasonSearch" md-highlight-flags="gi">{{reason}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                            </div>


                            <div layout-gt-sm="row" class="layout-gt-sm-row" ng-show="searchParams.closedWithoutDeclarationReason == 'Tilbagesendt'">
                                <md-input-container>
                                    <label>Fra</label>
                                    <md-datepicker ng-model="searchParams.returnOfDeclarationFromDate"></md-datepicker>
                                </md-input-container>
                                <md-input-container>
                                    <label>Til</label>
                                    <md-datepicker ng-model="searchParams.returnOfDeclarationToDate"></md-datepicker>
                                </md-input-container>
                            </div>

                            <md-divider ng-show="searchParams.psychEval || searchParams.givenDeclaration || searchParams.socialEval"></md-divider>

                            <!--<div layout-gt-sm="row" class="layout-gt-sm-row" ng-show="searchParams.psychEval || searchParams.givenDeclaration || searchParams.socialEval">-->
                                <!--<md-input-container>-->
                                    <!--<label>Fra</label>-->
                                    <!--<md-datepicker ng-model="searchParams.declarationFromDate"></md-datepicker>-->
                                <!--</md-input-container>-->
                                <!--<md-input-container>-->
                                    <!--<label>Til</label>-->
                                    <!--<md-datepicker ng-model="searchParams.declarationToDate"></md-datepicker>-->
                                <!--</md-input-container>-->
                            <!--</div>-->

                            </md-card-content>
                    </md-card>

                    <md-card flex>

                    <md-card-content>

<!--                        som udgangspunkt tom - ved valg kommer popop automatisk -->

                    <md-input-container class="md-block">
                        <label>Psykologiske tests</label>
                        <md-select ng-model="searchParams.psyktests" ng-change="vm.pop()">
                            <md-option ng-value="'psykologisk_undersoegelsestype'" >Psykologisk undersøgelsestype</md-option>
                            <md-option ng-value="'psykiatriske_interviews_og_ratingscales'" >Psykiatriske interviews og ratingscales</md-option>
                            <md-option ng-value="'kognitive_og_neuropsykologiske_praestationstests'" >Kognitive og neuropsykologiske præstationstests</md-option>
                            <md-option ng-value="'implicitte_projektive_tests'" >Implicitte (projektive) tests</md-option>
                            <md-option ng-value="'eksplicitte_spoergeskema_tests'" >Eksplicitte (spørgeskema) tests</md-option>
                            <md-option ng-value="'instrumenter_for_indikation_på_malingering'" >Instrumenter for indikation på malingering</md-option>
                            <md-option ng-value="'risikovurderingsinstrumenter'" >Risikovurderingsinstrumenter</md-option>
                            <md-option ng-value="'psykologisk_vurdering_af_forekomst_af_malingering'" >Psykologisk vurdering af forekomst af malingering</md-option>
                            <md-option ng-value="'konklusion_tags'" >Standard formuleringer</md-option>
                        </md-select>
                    </md-input-container>



                    <md-input-container class="md-block">
                        <label>Fornavn</label>
                        <input ng-model="searchParams.firstName" >
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Cpr</label>
                        <input ng-model="searchParams.cpr" >
                    </md-input-container>


                    </md-card-content>
                    </md-card>

                </div>

            </div>
            <md-button ng-click="vm.advancedSearch(0, 25, searchParams, false); vm.toggleResults()" class="md-raised md-primary">Søg</md-button>
        </div>
    </div>

    <md-card ng-show="showResults">
        <md-card-title>
            <md-button class="md-raised" ng-click="vm.toggleResults(); vm.clearResults()">Ret søgning</md-button>
            <span flex></span>
            <div layout="row" layout-align="center center">
                <div>Antal: <span class="md-body-2">{{vm.totalResults}}</span></div>
            </div>
        </md-card-title>
        <md-card-content>
            <md-progress-linear md-mode="indeterminate" ng-show="vm.isLoading"></md-progress-linear>
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-numeric md-order-by="caseNumber">Sagsnummer</th>
                            <th md-column md-order-by="bua">Type</th>
                            <th md-column md-order-by="fullName">Navn</th>
                            <th md-column md-numeric md-order-by="cprNumber">CPR</th>
                            <th md-column md-order-by="doctor">Læge</th>
                            <th md-column md-order-by="supervisingDoctor">Tiltrædes af læge</th>
                            <th md-column md-order-by="closed">Erklæring afgivet</th>
                            <th md-column md-order-by="psychologist">Psykologisk undersøgelse</th>
                        </tr>
                    </thead>
                    <tbody md-body ng-if="vm.searchResults.length === 0">
                        <td md-cell colspan="13" style="text-align:center">Ingen erklæringer passer på din søgning</td>
                    </tbody>
                    <tbody md-body>
                        <tr md-row ng-click="vm.gotoCase(case.caseNumber)" ng-repeat="case in vm.searchResults | orderBy : query.order ">
                            <td md-cell>{{case.caseNumber}}</td>
                            <td md-cell>{{case.bua ? 'BUA' : 'PS'}}</td>
                            <td md-cell>{{case.fullName}}</td>
                            <td md-cell>{{case.cprNumber}}</td>
                            <td md-cell>{{case.doctor}}</td>
                            <td md-cell>{{case.supervisingDoctor}}</td>
                            <td md-cell>
                                <span ng-if="!case.closed && case.declarationDate">Afgivet, mangler afslutning</span>
                                <span ng-if="case.closed && !case.closedWithoutDeclaration">Afsluttet</span>
                                <span ng-if="case.closedWithoutDeclaration">
                                    Afsluttet uden erklæring: {{case.closedWithoutDeclarationReason}}<br>
                                    Sendt til: {{case.closedWithoutDeclarationSentTo}}
                                </span>
                            </td>
                            <td md-cell>{{case.psychologist}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <div layout="row" layout-align="center center" ng-if="vm.next < vm.totalResults">
                <md-button class="md-raised md-primary" flex ng-click="vm.nextPage()">Vis flere</md-button>
            </div>
        </md-card-content>



<!--                        <md-checkbox ng-model="searchParams.print" ">Printvenlig</md-checkbox>-->
    <md-button ng-disabled="vm.printFriendlytStarted" class="md-raised md-primary" flex ng-click="vm.printFriendly()">Printvenlig</md-button>


    </md-card>
