<td>
    <a ui-sref="{{preview ? vm.getLink(content) : ''}}">
        <md-icon>
            {{content.contentType == 'cmis:folder' ? 'folder_open' : ''}}
            {{content.contentType == 'cmis:link' ? 'link' : ''}}
            <img class="md-avatar" 
                ng-show="content.contentType === 'cmis:document'" 
                ng-src="app/assets/images/filetypes/{{content.thumbNailURL}}"
                onerror="this.src='app/assets/images/filetypes/generic-file-24.png'">
        </md-icon> 
        <span>{{content.name}}</span>
    </a>
</td>
<td hide show-gt-sm>
    <a ui-sref="{{preview ? vm.getLink(content) : ''}}">
        {{content.lastChanged | openeDate}}&nbsp;-&nbsp;{{content.lastChangedBy}}
    </a>
</td>
<td style="text-align:right">
    <od-action-menu></od-action-menu>
</td>