<md-card ng-if="!isLoading">
    <md-card-content>
        <breadcrumb crumbs="crumbs" click-action="openBreadcrumb"></breadcrumb>
        <content-list content-list="content" click-action="open"></content-list>
    </md-card-content>

    <md-card-actions layout="row" layout-align="start center" ng-hide="hideActions">
        <md-button ng-controller="UploadController as uc" ng-click="uc.openDialog()" class="md-icon-button md-primary" aria-label="{{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}">
            <md-tooltip md-direction="top">{{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}</md-tooltip>
            <md-icon>file_upload</md-icon>
        </md-button>

        <md-button ng-controller="FolderController as fc" ng-click="fc.openDialog()" class="md-icon-button md-primary" aria-label="{{'COMMON.NEW_FOLDER' | translate}}">
            <md-tooltip md-direction="top">{{'COMMON.NEW_FOLDER' | translate}}</md-tooltip>
            <md-icon>create_new_folder</md-icon>
        </md-button>
    </md-card-actions>
</md-card>

<div ng-if="isLoading" layout="row" layout-sm="column" layout-align="space-around" flex>
    <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
</div>