<td style="width:45%">
    <a class="od-filebrowser-link" ui-sref="{{vm.getLink(content)}}" ui-sref-active="active">
        <i class="material-icons">
                                    {{content.contentType == 'cmis:folder' ? 'folder_open' : ''}}
                                    {{content.contentType == 'cmis:link' ? 'link' : ''}}
                                    <img class="md-avatar" 
                                         ng-show="content.contentType === 'cmis:document'" 
                                         ng-src="app/assets/img/filetypes/{{content.thumbNailURL}}"
                                         onerror="this.src='app/assets/img/filetypes/generic-file-24.png'">
                                    </i> 
                                    <span class='content-name'>{{content.name}}</span>
    </a>
</td>
<td style="width:40%" hide show-gt-sm>
    <a class="od-filebrowser-link" ui-sref="{{vm.getLink(content)}}" ui-sref-active="active">
        {{content.lastChanged | openeDate}}&nbsp;-&nbsp;{{content.lastChangedBy}}
    </a>
</td>
<td style="width:5%">
    <div ng-include=" 'app/src/filebrowser/actions/actionMenu.html' "></div>
</td>